{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Manager{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <!-- <h1>Task Manager</h1> -->
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    {% if user.is_admin %}
                        <li><a href="#">Логи времени</a></li>
                        <li><a href="#">Отчёты</a></li>
                        <li>Сотрудники и роли
                            <ul>
                                <li><a href="{% url 'department-list' %}">Отделы</a></li>
                                <li><a href="{% url 'user-list' %}">Пользователи</a></li>
                                <li><a href="{% url 'role-list' %}">Роли</a></li>
                            </ul>
                        </li>
                        <li>Настройки
                            <ul>
                                <li><a href="{% url 'project-list' %}">Проекты</a></li>
                                <li><a href="{% url 'section-list' %}">Разделы</a></li>
                                <li><a href="{% url 'mark-list' %}">Марки</a></li>
                                <li><a href="#">Задачи</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="#">Логи времени</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Выход</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
