{% extends 'task_manager/base.html' %}

{% block content %}

{% load custom_filters %}
<div class="row">
    <div class="col-md-12">
        <form method="get" action="" class="form-inline reports-form" id="laborCostsProjectsForm">
            <div class="logs-form-wrapper">
                <div class="logs-form-input-wrapper">
                    <div class="datepicker-wrapper">
                        <input type="text" name="start_date" value="{{ start_date }}" class="date-input" data-cid="calendar" placeholder="Дата начала" />
                    </div>
                    <span>—</span>
                    <div class="datepicker-wrapper">
                        <input type="text" name="end_date" value="{{ end_date }}" class="date-input" data-cid="calendar" placeholder="Дата окончания" />
                    </div>
                </div>
                <div class="select" data-cid="select-for-calendar">
                    <span class="select__current">Период</span>
                    <div class="select__body">
                        <div class="select__item">Неделя</div>
                        <div class="select__item">Месяц</div>
                        <div class="select__item">3 месяца</div>
                        <div class="select__item">Пол года</div>
                        <div class="select__item">Год</div>
                    </div>
                </div>
                <button class="accept-btn" type="submit">Применить</button>
            </div>
        </form>
        <div class="table__wrapper">
            <div class="table__left" id="table__left">
                <div class="table">
                    <div class="table__header">
                        <div class="table__row">
                            <div class="table__item" style="width: 202px;">
                                <button class="sorter" data-cid="project">
                                    <p>Объект</p>
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                            <div class="table__item" style="width: 220px;">
                                <button class="sorter" data-cid="zis">
                                    <p>ЗиС</p>
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                            <div class="table__item" style="width: 80px;">
                                <button class="sorter" data-cid="mark">
                                    <p>Марка</p>
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                            <div class="table__item" style="width: 160px;">
                                <button class="sorter" data-cid="employees">
                                    <p>Исполнитель</p>
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                            <div class="table__item" style="width: 96px; padding: 0;">
                                <p>Часы</p>
                            </div>
                        </div>
                    </div>
                    <div class="table__body">
                        {% for row in grouped_data.values %}
                        <div class="table__row">
                            <div class="table__item" style="width: 202px; padding: 0 0 0 20px;">{{ row.project }}</div>
                            <div class="table__item" style="width: 220px; padding: 0 10px;">{{ row.building }}</div>
                            <div class="table__item" style="width: 80px; padding: 0 10px;">{{ row.mark }}</div>
                            <div class="table__item" style="width: 160px; padding: 0 10px;">{{ row.user }}</div>
                            <div class="table__item border-in" style="width: 96px; padding: 0 10px;">{{ row.total_hours }} ч</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="table__right" id="table__right">
                <div class="table__scroll">
                    <div class="table">
                        <div class="table__header__visible">
                            <div class="table__header">
                                {% for month_key, month_data in days_by_period.items %}
                                <div class="table__header__wrapper">
                                    <div class="table__header__title">{{ month_data.month_name }}</div>
                                    <div class="table__row" style="height: 34px;">
                                        {% for day in month_data.days %}
                                            <div class="table__item" style="width: 30px; height: 34px; padding: 5px 10px;">
                                                <p>{{ day|date:"d" }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="table__body">
                            {% for row in grouped_data.values %}
                            <div class="table__row">
                                {% for month_key, month_data in days_by_period.items %}
                                    <!-- Месяцы до последнего -->
                                    {% for day in month_data.days %}
                                        <div class="table__item checking-days" style="padding: 0 10px;">
                                            {% with date_key=day|date:"Y-m-d" %}
                                                {% if row.logs|get_item:date_key %}
                                                    {{ row.logs|get_item:date_key }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            {% endwith %}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const checkingDays = document.querySelectorAll('table__item.checking-days');

        checkingDays.forEach(day => {
            if (/^\s*\*\s*$/.test(day.textContent)) {
                // Найдем ближайшую ячейку с маркой в текущей строке
                const markCell = day.closest('table__row').querySelector('table__item:nth-child(3)'); // Третья колонка содержит марку
                if (markCell) {
                    const markTitle = markCell.textContent.trim(); // Получаем значение марки
                    day.style.backgroundColor = "var(--Secondary)";
                    day.textContent = markTitle; // Устанавливаем текст марки вместо "КМ"
                }
            }
        });
    });
</script>

{% endblock %}