{% extends 'task_manager/base.html' %}

{% block content %}

{% load custom_filters %}
<div class="row">
    <div class="col-md-12">
        <form method="get" action="" class="form-inline reports-form" id="laborCostsProjectsForm">
            <div class="logs-form-wrapper">
                <div class="logs-form-input-wrapper">
                    <div class="datepicker-wrapper">
                        <input type="text" name="start_date" value="{{ start_date }}" class="date-input" data-cid="calendar" placeholder="Дата начала" />
                    </div>
                    <span>—</span>
                    <div class="datepicker-wrapper">
                        <input type="text" name="end_date" value="{{ end_date }}" class="date-input" data-cid="calendar" placeholder="Дата окончания" />
                    </div>
                </div>
                <div class="select" data-cid="select-for-calendar">
                    <span class="select__current">Период</span>
                    <div class="select__body">
                        <div class="select__item">Неделя</div>
                        <div class="select__item">Месяц</div>
                        <div class="select__item">3 месяца</div>
                        <div class="select__item">Пол года</div>
                        <div class="select__item">Год</div>
                    </div>
                </div>
                <button class="accept-btn" type="submit">Применить</button>
            </div>
        </form>
        <div class="table-wrapper only-bottom scroller">
            <table class="table">
                <thead>
                    <tr>
                        <th>Объект</th>
                        <th>ЗиС</th>
                        <th>Марка</th>
                        <th>Исполнитель</th>
                        <th>Часы</th>
                        {% for month in months_in_range %}
                            <th class="rotated"><p>{{ month|date:"F" }}</p></th>
                        {% endfor %}
                            <!-- Дни последнего месяца -->
                        {% for date in days_in_last_month %}
                            <th>{{ date|date:"d" }}</th>
                        {% endfor %}
                        <!-- Месяцы до последнего -->
                    </tr>
                </thead>
                <tbody>
                    {% for item in report_data %}
                    <tr>
                        <td>{{ item.project__title }}</td>
                        <td>{{ item.building__title }}</td>
                        <td>{{ item.mark__title }}</td>
                        <td>{{ item.user_full_name }}</td>
                        <td>{{ item.total_hours }} ч</td>
                        {% with item_key=item.project__title|add:"|"|add:item.building__title|add:"|"|add:item.mark__title|add:"|"|add:item.user_full_name %}
                            <!-- Месяцы до последнего -->
                            {% for month in months_in_range %}
                                {% with month_key=month|date:"Y-m" %}
                                    <td class="checking-days">
                                        {% if grouped_hours|get_item:item_key|get_item:month_key %}*{% else %}-{% endif %}
                                    </td>
                                {% endwith %}
                            {% endfor %}
                            <!-- Дни последнего месяца -->
                            {% for date in days_in_last_month %}
                                <td class="checking-days">
                                    {% with date_key=date|date:"Y-m-d" %}
                                        {% if monthly_hours|get_item:item_key|get_item:date_key %}*{% else %}-{% endif %}
                                    {% endwith %}
                                </td>
                            {% endfor %}
                        {% endwith %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const checkingDays = document.querySelectorAll('td.checking-days');

        checkingDays.forEach(day => {
            if (/^\s*\*\s*$/.test(day.textContent)) {
                // Найдем ближайшую ячейку с маркой в текущей строке
                const markCell = day.closest('tr').querySelector('td:nth-child(3)'); // Третья колонка содержит марку
                if (markCell) {
                    const markTitle = markCell.textContent.trim(); // Получаем значение марки
                    day.style.backgroundColor = "var(--Secondary)";
                    day.textContent = markTitle; // Устанавливаем текст марки вместо "КМ"
                }
            }
        });
    });
</script>

{% endblock %}