{% extends 'task_manager/base.html' %}

{% block title %}
Projects List
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="table-wrapper only-bottom">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-2">
                            <button class="sorter" id="nameFilterButton" data-cid="project">
                                <p>Название</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                      <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                            <!-- Выпадающий список для фильтрации по названию -->
                            <select id="nameFilterDropdown" class="filter-dropdown" style="display: none;">
                                <option value="">Выберите название</option>
                            </select>
                        </th>
                        <th class="col-3">
                            <button class="sorter" data-cid="status">
                                <p>Статус</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                      <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th class="col-3">
                            <button class="sorter" data-cid="zis">
                                <p>Здания и сооружения</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                      <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th class="col-3">
                            <button class="sorter" data-cid="section">
                                <p>Разделы</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                      <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th class="col-1">
                            <p>Действия</p>
                        </th>
                    </tr>
                </thead>
                <tbody id="projectsTableBody"></tbody>
            </table>
        </div>
        

        <div class="pagination" id="pagination">
            <p id="pageInfo" class="page-info"></p>
            <div class="pagination-btn-wrapper">
                <button id="prevPage" class="pagination-button">Назад</button>
                <button id="nextPage" class="pagination-button">Вперед</button>
            </div>
        </div>

    </div>
</div>

<!-- Модальное окно для создания и редактирования проекта -->
<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="projectForm" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="projectModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id_title">Название нового здания</label>
                        <input type="text" name="title" class="form-control" id="id_title" placeholder="Введите название проекта">
                    </div>
                    <div class="form-group">
                        <label for="id_status">Статус</label>
                        <select name="status" class="form-control" id="id_status">
                            {% for status in project_status %}
                            <option value="{{ status.pk }}">{{ status.title }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="tabs-wraper">
                        <div class="tabs-wrapper-btns">
                            <button id="zis">ЗиС</button>
                            <button id="sections">Разделы</button>
                            <span></span>
                        </div>
                        <div id="zisContent">
                            <ul id="buildingList" class="list-group"></ul>
                            <div id="modalZisToAddProj">
                                <h5 class="add-project-title">Добавление нового здания</h5>
                                <label for="buildingTitleInput">Название</label>
                                <input type="text" id="buildingTitleInput" placeholder="Название здания" class="form-control">
                                <button id="addBuildingBtn">Добавить</button>
                            </div>
                            <div class="zis-btn-wrap">
                                <p>Добавить новое здание</p>
                                <button type="button" id="openModalToAdd">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="10" viewBox="0 0 9 10" fill="none">
                                        <path d="M4.5 1V9M0.5 5H8.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                </button>
                            </div>
                        </div>
                        <div id="sectionsContent">
                            <div class="form-group">
                                {% for section in sections %}
                                <div class="form-check">
                                    <label class="form-check-label" for="{{ section.pk }}">
                                        <input type="checkbox" class="form-check-input" id="{{ section.pk }}" name="sections" value="{{ section.pk }}">{{ section.title }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn add-btn">Сохранить изменения</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="36" viewBox="0 0 32 36" fill="none">
                          <path d="M22.6667 7.66667V6.33333C22.6667 4.46649 22.6667 3.53307 22.3034 2.82003C21.9838 2.19282 21.4738 1.68289 20.8466 1.36331C20.1336 1 19.2002 1 17.3333 1H14.6667C12.7998 1 11.8664 1 11.1534 1.36331C10.5262 1.68289 10.0162 2.19282 9.69664 2.82003C9.33333 3.53307 9.33333 4.46649 9.33333 6.33333V7.66667M12.6667 16.8333V25.1667M19.3333 16.8333V25.1667M1 7.66667H31M27.6667 7.66667V26.3333C27.6667 29.1336 27.6667 30.5337 27.1217 31.6033C26.6423 32.5441 25.8774 33.309 24.9366 33.7884C23.8671 34.3333 22.4669 34.3333 19.6667 34.3333H12.3333C9.53307 34.3333 8.13294 34.3333 7.06338 33.7884C6.12257 33.309 5.35767 32.5441 4.8783 31.6033C4.33333 30.5337 4.33333 29.1336 4.33333 26.3333V7.66667" stroke="#FF6D6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="title-delete">Вы действительно хотите <br> удалить проект?</p>
            </div>
            <div class="modal-footer modal-footer-delete">
                <form id="deleteProjectForm" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<script>
    let currentProjectId = null;
    const csrfToken = '{{ csrf_token }}';
    let removedBuildings = [];

    // Обработчик открытия модалки для создания/редактирования проекта
    $('#projectModal').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget); // Кнопка, вызвавшая модалку
        currentProjectId = button.data('id');  // Получаем id проекта, если редактируем

        const btnOpenModalToAdd = document.querySelector('#openModalToAdd'),
              modalToAdd = document.querySelector('#modalZisToAddProj');

        btnOpenModalToAdd.addEventListener('click', (e) => {
            e.preventDefault();
            modalToAdd.classList.add('active');
        });

        document.addEventListener('click', (e) => {
            if(modalToAdd.classList.contains('active') && !e.target.closest('#openModalToAdd') && !e.target.closest('#modalZisToAddProj')) {
                modalToAdd.classList.remove('active');
            }
        })

        if (currentProjectId) {
            document.querySelector('#projectModalLabel').textContent = 'Редактировать проект';
            // Редактирование проекта
            $.ajax({
                url: `/projects/${currentProjectId}/`,
                method: 'GET',
                success: function (data) {
                    $('#id_title').val(data.project.title);
                    $('#id_status').val(data.project.status);
                    $('#buildingList').empty();
                    data.buildings.forEach(function (building) {
                        const title = building.building__title.trim();
                        $('#buildingList').append(
                            `
                                <li class="list-group-item" id="building-${building.building__pk}">${title}
                                    <button class="delet-zis-btn" data-id="${building.building__pk}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                                            <path d="M15.7604 5.41667V4.70833C15.7604 3.71657 15.7604 3.22069 15.5674 2.84189C15.3976 2.50869 15.1267 2.23779 14.7935 2.06801C14.4147 1.875 13.9188 1.875 12.9271 1.875H11.5104C10.5187 1.875 10.0228 1.875 9.64398 2.06801C9.31077 2.23779 9.03987 2.50869 8.87009 2.84189C8.67708 3.22069 8.67708 3.71657 8.67708 4.70833V5.41667M10.4479 10.2865V14.7135M13.9896 10.2865V14.7135M4.25 5.41667H20.1875M18.4167 5.41667V15.3333C18.4167 16.821 18.4167 17.5648 18.1272 18.133C17.8725 18.6328 17.4661 19.0392 16.9663 19.2938C16.3981 19.5833 15.6543 19.5833 14.1667 19.5833H10.2708C8.78319 19.5833 8.03937 19.5833 7.47117 19.2938C6.97137 19.0392 6.56501 18.6328 6.31035 18.133C6.02083 17.5648 6.02083 16.821 6.02083 15.3333V5.41667" stroke="#A6A6A6" stroke-width="1.77083" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </button>
                                </li>
                            `
                        );
                    });

                    // Отмечаем разделы как выбранные, если они уже связаны с проектом
                    data.sections.forEach(function (section) {
                         $(`#sectionsContent input[type="checkbox"][value="${section.section__pk}"]`).prop('checked', true);
                    });
                }
            });
        } else {
            document.querySelector('#projectModalLabel').textContent = 'Добавить проект';
            // Создание проекта
            $('#id_title').val('');
            $('#id_status').val('');
            $('#buildingList').empty();
            // Снимаем отметку со всех чекбоксов разделов
            $('input[name="sections"]').prop('checked', false);
        }
    });

    // Обработчик удаления здания из формы
    $(document).on('click', '.delet-zis-btn', function (e) {
        e.preventDefault();
        const buildingId = $(this).data('id'); // Получаем ID здания
        const listItem = $(this).closest('li'); // Находим элемент списка

        if (buildingId) {
            // Добавляем ID здания в массив для удаления
            removedBuildings.push(buildingId);
        }

        // Удаляем элемент из DOM
        listItem.remove();
        console.log('Удаленные здания (временные):', removedBuildings);
    });

    // Обработчик сохранения проекта
    $('#projectForm').on('submit', function (event) {
        event.preventDefault();

        const title = $('#id_title').val();
        const status = $('#id_status').val();

        let buildings = [];
        $('#buildingList li').each(function () {
            const buildingTitle = $(this).clone().children('button').remove().end().text().trim();
            if (buildingTitle) {
                buildings.push(buildingTitle);
            }
        });

        let sections = [];
        $('input[name="sections"]:checked').each(function () {
            sections.push($(this).val());
        });

        console.log('Добавленные здания:', buildings);
        console.log('Удаленные здания:', removedBuildings);

        const formData = new FormData();
        formData.append('title', title);
        formData.append('status', status);
        formData.append('csrfmiddlewaretoken', csrfToken);

        // Добавляем здания
        for (let i = 0; i < buildings.length; i++) {
            formData.append('buildings[]', buildings[i]);
        }

        // Добавляем разделы
        for (let i = 0; i < sections.length; i++) {
            formData.append('sections[]', sections[i]);
        }

        // Добавляем удаленные здания
        for (let i = 0; i < removedBuildings.length; i++) {
            formData.append('removed_buildings[]', removedBuildings[i]);
        }

        if (!currentProjectId) {
            // Создание нового проекта
            $.ajax({
                url: '/projects/create/',
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    location.reload(); // Обновляем страницу после создания
                },
                error: function (xhr, status, error) {
                    console.error('Ошибка создания проекта:', error);
                }
            });
        } else {
            // Редактирование проекта
            $.ajax({
                url: `/projects/${currentProjectId}/edit/`,
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    location.reload(); // Обновляем страницу после редактирования
                },
                error: function (xhr, status, error) {
                    console.error('Ошибка редактирования проекта:', error);
                }
            });
        }
    });

    // Обработчик добавления нового здания
    $('#addBuildingBtn').on('click', function (e) {
        e.preventDefault();
        const buildingTitle = $('#buildingTitleInput').val();
        if (!buildingTitle) {
            alert('Пожалуйста, введите название здания');
            return;
        }

        $('#buildingList').append(
            `
                <li class="list-group-item">${buildingTitle} 
                    <button class="delet-zis-btn delete-building-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                            <path d="M15.7604 5.41667V4.70833C15.7604 3.71657 15.7604 3.22069 15.5674 2.84189C15.3976 2.50869 15.1267 2.23779 14.7935 2.06801C14.4147 1.875 13.9188 1.875 12.9271 1.875H11.5104C10.5187 1.875 10.0228 1.875 9.64398 2.06801C9.31077 2.23779 9.03987 2.50869 8.87009 2.84189C8.67708 3.22069 8.67708 3.71657 8.67708 4.70833V5.41667M10.4479 10.2865V14.7135M13.9896 10.2865V14.7135M4.25 5.41667H20.1875M18.4167 5.41667V15.3333C18.4167 16.821 18.4167 17.5648 18.1272 18.133C17.8725 18.6328 17.4661 19.0392 16.9663 19.2938C16.3981 19.5833 15.6543 19.5833 14.1667 19.5833H10.2708C8.78319 19.5833 8.03937 19.5833 7.47117 19.2938C6.97137 19.0392 6.56501 18.6328 6.31035 18.133C6.02083 17.5648 6.02083 16.821 6.02083 15.3333V5.41667" stroke="#A6A6A6" stroke-width="1.77083" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </li>
            `
        );
        $('#buildingTitleInput').val('');
        document.querySelector('#modalZisToAddProj').classList.remove('active');
    });

    $(document).on('click', '.delete', function () {
        const projectId = $(this).data('id');
        $('#deleteProjectForm').data('id', projectId); // Сохраняем ID проекта в форме
    });

    $('#deleteConfirmationModal').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget); // Кнопка, вызвавшая модалку
        const projectId = button.data('id');  // Получаем ID из `data-id`

        // Установите ID в кнопку подтверждения удаления
        $('#deleteProjectForm .btn.btn-danger').data('id', projectId);
    });

    $(document).on('submit', '#deleteProjectForm', function (event) {
        event.preventDefault(); // Отключаем стандартное поведение формы

        const projectId = $(this).data('id'); // Получаем ID проекта
        const csrfToken = '{{ csrf_token }}';

        if (projectId) {
            $.ajax({
                url: `/projects/${projectId}/delete/`,
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: csrfToken,
                },
                success: function () {
                    $('#deleteConfirmationModal').modal('hide'); // Закрываем модальное окно
                    location.reload(); // Обновляем страницу
                },
                error: function (xhr, status, error) {
                    console.error('Ошибка удаления:', error);
                    alert('Произошла ошибка при удалении проекта.');
                },
            });
        } else {
            alert('ID проекта отсутствует.');
        }
    });

    // Обработчик удаления здания
    $(document).on('click', '.delete-building-btn', function () {
        $(this).closest('li').remove();
    });

    const zisBtn = document.querySelector('#zis'),
          sectionBtn = document.querySelector('#sections'),
          zisContent = document.querySelector('#zisContent'),
          sectionsContent = document.querySelector('#sectionsContent');

    zisBtn.classList.add('active');
    sectionsContent.style.display = 'none';

    zisBtn.addEventListener('click', (e) => {
        e.preventDefault();
        zisBtn.classList.add('active');
        sectionBtn.classList.remove('active');
        zisContent.style.display = 'block';
        sectionsContent.style.display = 'none';
    });

    sectionBtn.addEventListener('click', (e) => {
        e.preventDefault();
        sectionBtn.classList.add('active');
        zisBtn.classList.remove('active');
        sectionsContent.style.display = 'block';
        zisContent.style.display = 'none';
    });

    // 

    const projects = [
        {% for project in projects %}
        {
            title: "{{ project.title|escapejs }}",
            status: "{{ project.status.title|escapejs }}",
            buildings: [
                {% for building in project.project_buildings.all %}
                    "{{ building.building.title|escapejs }}",
                {% endfor %}
            ],
            sections: [
                {% for section in project.project_sections.all %}
                    "{{ section.section.title|escapejs }}",
                {% endfor %}
            ],
            id: "{{ project.pk }}"
        },
        {% endfor %}
    ];

    let currentPage = 1;
    const rowsPerPage = 6;

    function displayProjects(projectsToShow) {
        const tableBody = document.getElementById('projectsTableBody');
        tableBody.innerHTML = '';

        projectsToShow.forEach(project => {
            const buildingsList = project.buildings.map(b => `<li>${b}</li>`).join('');
            const sectionsList = project.sections.map(s => `<li>${s}</li>`).join('');

            const row = `
                <tr>
                    <td>${project.title}</td>
                    <td>${project.status}</td>
                    <td><ul>${buildingsList}</ul></td>
                    <td><ul>${sectionsList}</ul></td>
                    <td>
                        <div class="actions-button-wrapper">
                            <button class="edit" data-toggle="modal" data-target="#projectModal" data-id="${project.id}" data-title="${project.title}" data-status="${project.status}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <path d="M1.31128 14.1984C1.34932 13.8561 1.36833 13.685 1.42012 13.525C1.46606 13.3831 1.53098 13.2481 1.6131 13.1235C1.70566 12.9832 1.82742 12.8614 2.07094 12.6179L13.0031 1.68577C13.9174 0.77141 15.3999 0.771411 16.3143 1.68577C17.2286 2.60013 17.2286 4.0826 16.3142 4.99696L5.38213 15.9291C5.1386 16.1726 5.01684 16.2943 4.87648 16.3869C4.75194 16.469 4.61688 16.5339 4.47496 16.5799C4.315 16.6317 4.14385 16.6507 3.80157 16.6887L1 17L1.31128 14.1984Z" stroke="#16AEDC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                            <button class="delete" data-toggle="modal" data-target="#deleteConfirmationModal" data-id="${project.id}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="24" viewBox="0 0 23 24" fill="none">
                                    <path d="M15.2604 6.16667V5.45833C15.2604 4.46657 15.2604 3.97069 15.0674 3.59189C14.8976 3.25869 14.6267 2.98779 14.2935 2.81801C13.9147 2.625 13.4188 2.625 12.4271 2.625H11.0104C10.0187 2.625 9.52278 2.625 9.14398 2.81801C8.81077 2.98779 8.53987 3.25869 8.37009 3.59189C8.17708 3.97069 8.17708 4.46657 8.17708 5.45833V6.16667M9.94792 11.0365V15.4635M13.4896 11.0365V15.4635M3.75 6.16667H19.6875M17.9167 6.16667V16.0833C17.9167 17.571 17.9167 18.3148 17.6272 18.883C17.3725 19.3828 16.9661 19.7892 16.4663 20.0438C15.8981 20.3333 15.1543 20.3333 13.6667 20.3333H9.77083C8.28319 20.3333 7.53937 20.3333 6.97117 20.0438C6.47137 19.7892 6.06501 19.3828 5.81035 18.883C5.52083 18.3148 5.52083 17.571 5.52083 16.0833V6.16667" stroke="#A6A6A6" stroke-width="1.77083" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </div>
                    </td>
                </tr>
            `;
            tableBody.innerHTML += row;
        });
    }

    function updatePageInfo(totalPages) {
        const pageInfo = document.getElementById('pageInfo');
        pageInfo.innerText = `Страница ${currentPage} / ${totalPages}`;
    }

    function setupPagination(projects) {
        const totalPages = Math.ceil(projects.length / rowsPerPage);

        if(totalPages <= 1) {
            document.querySelector('#pagination').style.display = 'none';
        }

        function navigate(direction) {
            if (direction === 'prev' && currentPage > 1) {
                currentPage--;
            }
            if (direction === 'next' && currentPage < totalPages) {
                currentPage++;
            }
            displayPage(projects, totalPages);
        }

        document.getElementById('prevPage').addEventListener('click', () => navigate('prev'));
        document.getElementById('nextPage').addEventListener('click', () => navigate('next'));

        displayPage(projects, totalPages);
    }

    function displayPage(projects, totalPages) {
        const start = (currentPage - 1) * rowsPerPage;
        const end = start + rowsPerPage;
        const projectsToShow = projects.slice(start, end);
        displayProjects(projectsToShow);
        updatePageInfo(totalPages);
    }

    if (projects.length > 0) {
        setupPagination(projects);
    } else {
        document.getElementById('projectsTableBody').innerHTML = "<tr><td colspan='5'>Нет данных для отображения</td></tr>";
    }

</script>
{% endblock %}