{% extends 'task_manager/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form method="get" action="" class="form-inline reports-form" id="laborCostsProjectsForm">
            <div class="logs-form-wrapper">
                <div class="logs-form-input-wrapper">
                    <div class="datepicker-wrapper">
                        <input type="text" name="start_date" value="{{ start_date }}" class="date-input" data-cid="calendar" placeholder="Дата начала" />
                    </div>
                    <span>—</span>
                    <div class="datepicker-wrapper">
                        <input type="text" name="end_date" value="{{ end_date }}" class="date-input" data-cid="calendar" placeholder="Дата окончания" />
                    </div>
                </div>
                <div class="select">
                    <span class="select__current">Период</span>
                    <div class="select__body">
                        <div class="select__item">Value 1</div>
                        <div class="select__item">Value 2</div>
                        <div class="select__item">Value 3</div>
                        <div class="select__item">Value 4</div>
                        <div class="select__item">Value 5</div>
                    </div>
                </div>
                <button class="accept-btn" type="submit">Применить</button>
            </div>
        </form>
        <div id="laborCostsProjectsTable" class="table-wrapper only-bottom">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 170px">
                            <button class="sorter" >
                                <p>Объект</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th style="width: 100px">
                            <button class="sorter" >
                                <p>Отдел</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th style="width: 140px">
                            <button class="sorter" >
                                <p>Сотрудник</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th style="width: 80px">
                            <button class="sorter" >
                                <p>Стадия</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th>
                            <button class="sorter" >
                                <p>ЗИС</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th style="width: 70px">
                            <button class="sorter" >
                                <p>Марка</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th style="width: 190px">
                            <button class="sorter" >
                                <p>Локальная задача</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th style="width: 69px">
                            <button class="sorter" >
                                <p>Время</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for project_title, project_data in detailed_report_projects.items %}
                        {% for entry in project_data.entries %}
                            <tr>
                                <td>{{ entry.project.title }}</td>
                                <td>{{ entry.department.title }}</td>
                                <td>{{ entry.user.first_name }} {{ entry.user.last_name }}</td>
                                <td>{{ entry.stage }}</td>
                                <td>{{ entry.building.title }}</td>
                                <td>{{ entry.mark.title }}</td>
                                <td>{{ entry.task.title }}</td>
                                <td>{{ entry.time }}</td>
                            </tr>
                        {% endfor %}
                        <tr class="finish-tr">
                            <td colspan="7" class="text-left">Итого {{ project_title }}</td>
                            <td colspan="1" class="text-left">{{ project_data.total_time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
