{% extends 'task_manager/base.html' %}
{% block content %}
    <a href="{% url 'user-dashboard' %}" class="back-to-main-page">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.70711 0.292893C9.09763 0.683417 9.09763 1.31658 8.70711 1.70711L3.41421 7H15C15.5523 7 16 7.44772 16 8C16 8.55228 15.5523 9 15 9H3.41421L8.70711 14.2929C9.09763 14.6834 9.09763 15.3166 8.70711 15.7071C8.31658 16.0976 7.68342 16.0976 7.29289 15.7071L0.292893 8.70711C-0.0976311 8.31658 -0.0976311 7.68342 0.292893 7.29289L7.29289 0.292893C7.68342 -0.0976311 8.31658 -0.0976311 8.70711 0.292893Z" fill="#202020"/>
            </svg>
        </span>
        Вернуться на главную
    </a>
    <h1 class="super-title">Отчет о выполненной работе за {{ selected_date|date:"d.m.Y" }}</h1>
    <form method="post" action="{% url 'report_create' %}">
        {% csrf_token %}
        <input type="hidden" name="date" value="{{ selected_date|date:'Y-m-d' }}">
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrapper personal">
                    <div class="custom-table">
                        <div class="custom-table-header">
                            <div class="header-item">
                                <p style="width: 220px;">Объект</p>
                            </div>
                            <div class="header-item">
                                <p style="width: 100px;">Стадия</p>
                            </div>
                            <div class="header-item">
                                <p style="width: 100px;">Раздел</p>
                            </div>
                            <div class="header-item" >
                                <p style="width: 300px;">ЗИС</p>
                            </div>
                            <div class="header-item">
                                <p style="width: 100px;">Марка</p>
                            </div>
                            <div class="header-item">
                                <p style="width: 200px;">Локальная задача</p>
                            </div>
                            <div class="header-item">
                                <p style="width: 103px;">Время</p>
                            </div>
                        </div>
                        <div class="custom-table-body">
                            {% for timelog in timelogs_data %}
                            <div class="body-item">
                                <div class="row-item">   
                                    <input type="hidden" name="project" class="hidden-input" value="{{ timelog.project.id }}">
                                    <div class="select" data-cid="simple-select" style="width: 220px;">
                                        <span class="select__current" data-value="{{ timelog.project.id }}" data-cid="events-item">{{ timelog.project.title }}</span>
                                        <div class="select__body">
                                            {% for project in projects %}
                                            <div class="select__item" data-value="{{ project.id }}">{{ project.title }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <!-- Стадия -->
                                <div class="row-item">
                                    <input type="hidden" name="stage" class="hidden-input" value="{{ timelog.stage }}">
                                    <div class="select" data-cid="simple-select" style="width: 100px;">
                                        <span class="select__current" data-value="{{ timelog.stage }}">{{ timelog.get_stage_display }}</span>
                                        <div class="select__body">
                                            {% for stage_value, stage_display in stages %}
                                            <div class="select__item" data-value="{{ stage_value }}">{{ stage_display }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <!-- Раздел -->
                                <div class="row-item">
                                    <input type="hidden" name="section" class="hidden-input" value="{{ timelog.section.id }}">
                                    <div class="select" data-cid="simple-select" style="width: 100px;">
                                        <span class="select__current" data-value="{{ timelog.section.id }}">{{ timelog.section.title }}</span>
                                        <div class="select__body">
                                            {% for section in sections %}
                                            <div class="select__item" data-value="{{ section.id }}">{{ section.title }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <!-- ЗИС -->
                                <div class="row-item">
                                    <input type="hidden" name="building" class="hidden-input" value="{{ timelog.building.id }}">
                                    <div class="select" data-cid="simple-select" style="width: 300px;">
                                        <span class="select__current" data-value="{{ timelog.building.id }}">{{ timelog.building.title }}</span>
                                        <div class="select__body">
                                            {% for building in buildings %}
                                            <div class="select__item" data-value="{{ building.id }}">{{ building.title }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <!-- Марка -->
                                <div class="row-item">
                                    <input type="hidden" name="mark" class="hidden-input" value="{{ timelog.mark.id }}">
                                    <div class="select" data-cid="simple-select" style="width: 100px;">
                                        <span class="select__current" data-value="{{ timelog.mark.id }}">{{ timelog.mark.title }}</span>
                                        <div class="select__body">
                                            {% for mark in marks %}
                                            <div class="select__item" data-value="{{ mark.id }}">{{ mark.title }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <!-- Локальная задача -->
                                <div class="row-item">
                                    <input type="text" name="task" class="form-control" value="{{ timelog.task.title }}" placeholder="Локальная задача" style="width: 200px;">
                                    <ul class="select-list">
                                        {% for task in tasks %}
                                        <li class="select-list-item">{{ task.title }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <!-- Время -->
                                <div class="row-item">
                                    <div class="flex-block" style="width: 103px;">
                                        <input type="number" name="time" class="form-control" value="{{ timelog.time }}">
                                        <span class="delete-row">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="24" viewBox="0 0 23 24" fill="none">
                                                <path d="M15.7604 6.16667V5.45833C15.7604 4.46657 15.7604 3.97069 15.5674 3.59189C15.3976 3.25869 15.1267 2.98779 14.7935 2.81801C14.4147 2.625 13.9188 2.625 12.9271 2.625H11.5104C10.5187 2.625 10.0228 2.625 9.64398 2.81801C9.31077 2.98779 9.03987 3.25869 8.87009 3.59189C8.67708 3.97069 8.67708 4.46657 8.67708 5.45833V6.16667M10.4479 11.0365V15.4635M13.9896 11.0365V15.4635M4.25 6.16667H20.1875M18.4167 6.16667V16.0833C18.4167 17.571 18.4167 18.3148 18.1272 18.883C17.8725 19.3828 17.4661 19.7892 16.9663 20.0438C16.3981 20.3333 15.6543 20.3333 14.1667 20.3333H10.2708C8.78319 20.3333 8.03937 20.3333 7.47117 20.0438C6.97137 19.7892 6.56501 19.3828 6.31035 18.883C6.02083 18.3148 6.02083 17.571 6.02083 16.0833V6.16667" stroke="#A6A6A6" stroke-width="1.77083" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="button" id="addRowBtn"><span>+</span> Добавить строку</button>
                </div>
            </div>
        </div>
        <div class="bottom-info">
            <div class="hidden-block"></div>
            <button type="submit" class="btn" id="sendReport" disabled>Отправить отчет</button>
            <div class="input-block">
                <label for="total-counter">Итого за день:</label>
                <input type="text" id="total-counter" readonly>
            </div>
        </div>
    </form>
<script>
    
    // Функция для загрузки зданий и разделов для каждой строки
    async function loadBuildingsAndSectionsForRow(row) {
        const projectSelect = row.querySelector('input[name="project"] + .select');
        const buildingSelect = row.querySelector('input[name="building"] + .select');
        const sectionSelect = row.querySelector('input[name="section"] + .select');

        const projectId = projectSelect.querySelector('.select__current')?.dataset?.value;

        if (!projectId) {
            console.error('Проект не выбран для строки:', row);
            return;
        }

        if (projectId) {
            try {
                // Уведомление о загрузке данных
                buildingSelect.querySelector('.select__body').innerHTML = '<div>Загрузка...</div>';
                sectionSelect.querySelector('.select__body').innerHTML = '<div>Загрузка...</div>'; // Загрузка разделов

                // Запрос данных для зданий
                const buildingResponse = await fetch(`/get-buildings/?project_id=${projectId}`);
                if (!buildingResponse.ok) {
                    throw new Error('Ошибка загрузки зданий');
                }
                const buildingData = await buildingResponse.json();

                // Запрос данных для разделов
                const sectionResponse = await fetch(`/get-sections/?project_id=${projectId}`);
                if (!sectionResponse.ok) {
                    throw new Error('Ошибка загрузки разделов');
                }
                const sectionData = await sectionResponse.json();

                // Обновление списка зданий
                const buildingOptions = buildingData.buildings.map(building => {
                    return `<div class="select__item" data-value="${building.id}">${building.title}</div>`;
                }).join('');
                buildingSelect.querySelector('.select__body').innerHTML = buildingOptions;

                // Обновление списка разделов
                const sectionOptions = sectionData.sections.map(section => {
                    return `<div class="select__item" data-value="${section.id}">${section.title}</div>`;
                }).join('');
                sectionSelect.querySelector('.select__body').innerHTML = sectionOptions;

            } catch (error) {
                console.error('Ошибка загрузки данных:', error);
                buildingSelect.querySelector('.select__body').innerHTML = '<div>Ошибка загрузки</div>';
                sectionSelect.querySelector('.select__body').innerHTML = '<div>Ошибка загрузки</div>';
            }
        }
    }

    // Функция для обработки редактирования всех строк
    function loadBuildingsAndSectionsForAllRows() {
        const rows = document.querySelectorAll('.table tbody tr');
        rows.forEach(row => {
            loadBuildingsAndSectionsForRow(row); // Загружаем данные для каждой строки
        });
    }

    // Функция для добавления обработчиков событий к строке
    function addEventListenersForRow(row) {
        const projectSelect = row.querySelector('input[name="project"] + .select');
        const buildingSelect = row.querySelector('input[name="building"] + .select');
        const sectionSelect = row.querySelector('input[name="section"] + .select'); // Добавляем выбор раздела
        const buildingHiddenInput = row.querySelector('input[name="building"]');
        const sectionHiddenInput = row.querySelector('input[name="section"]');

        if (projectSelect) {
            projectSelect.addEventListener('click', async (e) => {
                const projectId = e.target.closest('.select__item')?.dataset?.value;

                if (projectId) {

                    buildingHiddenInput.value = '';
                    sectionHiddenInput.value = '';

                    inputsChecker();


                    try {
                        // Уведомление о загрузке данных
                        buildingSelect.querySelector('.select__body').innerHTML = '<div>Загрузка...</div>';
                        sectionSelect.querySelector('.select__body').innerHTML = '<div>Загрузка...</div>'; // Загрузка разделов

                        // Запрос данных для зданий
                        const buildingResponse = await fetch(`/get-buildings/?project_id=${projectId}`);
                        if (!buildingResponse.ok) {
                            throw new Error('Ошибка загрузки зданий');
                        }
                        const buildingData = await buildingResponse.json();

                        // Запрос данных для разделов
                        const sectionResponse = await fetch(`/get-sections/?project_id=${projectId}`);
                        if (!sectionResponse.ok) {
                            throw new Error('Ошибка загрузки разделов');
                        }
                        const sectionData = await sectionResponse.json();

                        // Обновление списка зданий
                        const buildingOptions = buildingData.buildings.map(building => {
                            return `<div class="select__item" data-value="${building.id}">${building.title}</div>`;
                        }).join('');
                        buildingSelect.querySelector('.select__body').innerHTML = buildingOptions;

                        // Обновление списка разделов
                        const sectionOptions = sectionData.sections.map(section => {
                            return `<div class="select__item" data-value="${section.id}">${section.title}</div>`;
                        }).join('');
                        sectionSelect.querySelector('.select__body').innerHTML = sectionOptions;

                    } catch (error) {
                        console.error('Ошибка загрузки данных:', error);
                        buildingSelect.querySelector('.select__body').innerHTML = '<div>Ошибка загрузки</div>';
                        sectionSelect.querySelector('.select__body').innerHTML = '<div>Ошибка загрузки</div>';
                    }
                }
            });
        }
    }

    async function chekerInputToNull(row) {
        const ifSelectedInput = row.querySelector('input[name="project"]');
        const buildingSelect = row.querySelector('input[name="building"] + .select');
        const sectionSelect = row.querySelector('input[name="section"] + .select');

            if(ifSelectedInput.value) {
                try {
                        // Уведомление о загрузке данных
                        buildingSelect.querySelector('.select__body').innerHTML = '<div>Загрузка...</div>';
                        sectionSelect.querySelector('.select__body').innerHTML = '<div>Загрузка...</div>'; // Загрузка разделов

                        // Запрос данных для зданий
                        const buildingResponse = await fetch(`/get-buildings/?project_id=${ifSelectedInput.value}`);
                        if (!buildingResponse.ok) {
                            throw new Error('Ошибка загрузки зданий');
                        }
                        const buildingData = await buildingResponse.json();

                        // Запрос данных для разделов
                        const sectionResponse = await fetch(`/get-sections/?project_id=${ifSelectedInput.value}`);
                        if (!sectionResponse.ok) {
                            throw new Error('Ошибка загрузки разделов');
                        }
                        const sectionData = await sectionResponse.json();

                        // Обновление списка зданий
                        const buildingOptions = buildingData.buildings.map(building => {
                            return `<div class="select__item" data-value="${building.id}">${building.title}</div>`;
                        }).join('');
                        buildingSelect.querySelector('.select__body').innerHTML = buildingOptions;

                        // Обновление списка разделов
                        const sectionOptions = sectionData.sections.map(section => {
                            return `<div class="select__item" data-value="${section.id}">${section.title}</div>`;
                        }).join('');
                        sectionSelect.querySelector('.select__body').innerHTML = sectionOptions;

                    } catch (error) {
                        console.error('Ошибка загрузки данных:', error);
                        buildingSelect.querySelector('.select__body').innerHTML = '<div>Ошибка загрузки</div>';
                        sectionSelect.querySelector('.select__body').innerHTML = '<div>Ошибка загрузки</div>';
                    }
            }
    }


    const addRowBtn = document.querySelector('#addRowBtn'),
          tableBody = document.querySelector('.custom-table-body'),
          totalConter = document.querySelector('#total-counter'),
          sendReportBtn = document.querySelector('#sendReport');

    function selectChecker(selector) {
        const select = selector.parentNode.querySelector('.select');
        if (selector.classList.contains('error')) {
            select.classList.add('error');
            sendReportBtn.disabled = true;
        } else if (select != null) {
            select.classList.remove('error');
        }
    }


    function inputsChecker() {

        let hasError = false;

        document.querySelectorAll('.body-item .row-item input').forEach(input => {

            if (input.name != 'task') {
                if (input.value.trim() === '') {
                    input.classList.add('error');
                    if (input.classList.contains('hidden-input')) {
                        selectChecker(input);
                        if (input.name === 'section') {
                            const stageInput = input.closest('.body-item').querySelector('input[name="stage"]');
                            if (stageInput && stageInput.value.trim() === 'RD') {
                                input.classList.remove('error');
                                selectChecker(input);
                                return;
                            }
                        }
                    }
                    hasError = true;
                } else {
                    input.classList.remove('error');
                    if (input.classList.contains('hidden-input')) {
                        selectChecker(input);
                    }
                }
            }
        });

        if (!hasError) {
        const rows = document.querySelectorAll('.body-item');
        // Проверяем, что строк больше одной
        if (rows.length > 1) {
            const specialValues = ['Выходной','Отпуск','Отгул','Больничный'];

            // Смотрим, есть ли хотя бы в одной строке значение из specialValues
            const hasSpecialInAnyRow = Array.from(rows).some(row => {
                const eventSelect = row.querySelector('.select__current[data-cid="events-item"]');
                if (!eventSelect) return false;
                return specialValues.includes(eventSelect.innerText.trim());
            });

            if (hasSpecialInAnyRow) {
                hasError = true;
            }
        }
    }

        sendReportBtn.disabled = hasError;
    }


    totalConter.value = 0;

    addRowBtn.addEventListener('click', () => {
        const line = document.createElement('div');
        line.classList.add('body-item');
        line.innerHTML = `
            <div class="row-item">
                <input type="hidden" name="project" class="hidden-input">
                <div style="width: 220px;" class="select" data-cid="simple-select">
                    <span class="select__current" data-value="" data-cid="events-item">Объект</span>
                    <div class="select__body">
                        {% for project in projects %}
                        <div class="select__item" data-value="{{ project.id }}">{{ project.title }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row-item">
                <input type="hidden" name="stage" class="hidden-input">
                <div style="width: 100px;" class="select" data-cid="simple-select">
                    <span class="select__current" data-value="">Стадия</span>
                    <div class="select__body">
                        {% for stage_value, stage_display in stages %}
                        <div class="select__item" data-value="{{ stage_value }}">{{ stage_display }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row-item">
                <input type="hidden" name="section" class="hidden-input">
                <div style="width: 100px;" class="select" data-cid="simple-select">
                    <span class="select__current" data-value="">Раздел</span>
                    <div class="select__body">
                        <div class="select__item" data-value="{{ section.id }}">{{ section.title }}</div>
                    </div>
                </div>
            </div>
            <div class="row-item">
                <input type="hidden" name="building" class="hidden-input">
                <div style="width: 300px;" class="select" data-cid="simple-select">
                    <span class="select__current" data-value="">ЗИС</span>
                    <div class="select__body">
                        <div class="select__item" data-value="">Выберите проект</div>
                    </div>
                </div>
            </div>
            <div class="row-item">
                <input type="hidden" name="mark" class="hidden-input">
                <div style="width: 100px;" class="select" data-cid="simple-select">
                    <span class="select__current" data-value="">Марка</span>
                    <div class="select__body">
                        {% for mark in marks %}
                        <div class="select__item" data-value="{{ mark.id }}">{{ mark.title }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row-item">
                <input type="text" name="task" class="form-control" placeholder="Локальная задача" style="width: 200px;">
                <ul class="select-list">
                    {% for task in tasks %}
                    <li class="select-list-item">{{ task.title }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row-item">
                <div class="flex-block" style="width: 103px;">
                    <input type="number" name="time" class="form-control">
                    <span class="delete-row">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="24" viewBox="0 0 23 24" fill="none">
                            <path d="M15.7604 6.16667V5.45833C15.7604 4.46657 15.7604 3.97069 15.5674 3.59189C15.3976 3.25869 15.1267 2.98779 14.7935 2.81801C14.4147 2.625 13.9188 2.625 12.9271 2.625H11.5104C10.5187 2.625 10.0228 2.625 9.64398 2.81801C9.31077 2.98779 9.03987 3.25869 8.87009 3.59189C8.67708 3.97069 8.67708 4.46657 8.67708 5.45833V6.16667M10.4479 11.0365V15.4635M13.9896 11.0365V15.4635M4.25 6.16667H20.1875M18.4167 6.16667V16.0833C18.4167 17.571 18.4167 18.3148 18.1272 18.883C17.8725 19.3828 17.4661 19.7892 16.9663 20.0438C16.3981 20.3333 15.6543 20.3333 14.1667 20.3333H10.2708C8.78319 20.3333 8.03937 20.3333 7.47117 20.0438C6.97137 19.7892 6.56501 19.3828 6.31035 18.883C6.02083 18.3148 6.02083 17.571 6.02083 16.0833V6.16667" stroke="#A6A6A6" stroke-width="1.77083" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </div>
            </div>
        `;
        tableBody.append(line);
        calcInputsValues();
        inputsChecker();
        addEventListenersForRow(line);
    });

    document.addEventListener('input', (e) => {
        if(e.target.closest('input.form-control')) {
            calcInputsValues();
        }
    })

    function calcInputsValues() {
        const tableInputs = document.querySelectorAll('input[name=time]');
        let counter = 0;

        tableInputs.forEach(item => {
            item.addEventListener('input', function() {
                if(this.value < 0) {
                    this.value = 0;
                    totalConter.value = counter + ' ' + getHourLabel(counter);
                } else {
                    totalConter.value = counter + ' ' + getHourLabel(counter);
                }
            })
            if (item.value !== '' && parseInt(item.value) >= 0) {
                counter += parseInt(item.value);
                totalConter.value = counter + ' ' + getHourLabel(counter);
                inputsChecker();
            } else {
                document.querySelector('#sendReport').disabled = true;
            }
        });
    }

    function getHourLabel(number) {
        let lastDigit = number % 10;
        let lastTwoDigits = number % 100;

        if (lastTwoDigits >= 11 && lastTwoDigits <= 14) {
            return 'часов';
        }

        switch (lastDigit) {
            case 1:
                return 'час';
            case 2:
            case 3:
            case 4:
                return 'часа';
            default:
                return 'часов';
        }
    }

    inputsChecker();

    // Удаление строки
    document.addEventListener('click', (e) => {
        if (e.target.closest('.delete-row')) {
            e.target.closest('.body-item').remove();
            calcInputsValues();
            inputsChecker();
            saveTableData(); // Сохранить изменения после удаления
            const rowsCounter = document.querySelectorAll('.body-item');

            if(rowsCounter.length <= 0) {
                document.querySelector('#sendReport').disabled = true;
            }
        }
    });

   // Уникальный ключ для localStorage
    const localStorageKey = `tableData_${window.location.pathname}`;

    // Сохранение данных таблицы
    function saveTableData() {
        const rows = [];
        document.querySelectorAll('.custom-table-body .body-item').forEach(row => {
            const rowData = {
                project: row.querySelector('input[name="project"]').value,
                projectText: row.querySelector('.select[data-cid="simple-select"] .select__current').innerText,
                stage: row.querySelector('input[name="stage"]').value,
                stageText: row.querySelector('input[name="stage"]').value != '' ? row.querySelector('.select[data-cid="simple-select"] .select__current[data-value="' + row.querySelector('input[name="stage"]').value + '"]').innerText : 'Стадия',
                section: row.querySelector('input[name="section"]').value,
                sectionText: row.querySelector('input[name="section"]').value != '' ? row.querySelector('.select[data-cid="simple-select"] .select__current[data-value="' + row.querySelector('input[name="section"]').value + '"]').innerText : 'Раздел',
                building: row.querySelector('input[name="building"]').value,
                buildingText: row.querySelector('input[name="building"]').value != '' ? row.querySelector('.select[data-cid="simple-select"] .select__current[data-value="' + row.querySelector('input[name="building"]').value + '"]').innerText : 'ЗИС',
                mark: row.querySelector('input[name="mark"]').value,
                markText: row.querySelector('input[name="mark"]').value != '' ? row.querySelector('.select[data-cid="simple-select"] .select__current[data-value="' + row.querySelector('input[name="mark"]').value + '"]').innerText : 'Марка',
                task: row.querySelector('input[name="task"]').value,
                time: row.querySelector('input[name="time"]').value,
            };
            rows.push(rowData);
        });
        localStorage.setItem(localStorageKey, JSON.stringify(rows));
    }

    // Восстановление данных таблицы
    function restoreTableData() {
        const savedData = JSON.parse(localStorage.getItem(localStorageKey)) || [];
        const tableBody = document.querySelector('.custom-table-body');
        tableBody.innerHTML = ''; // Очистить текущие строки

        savedData.forEach(rowData => {
            const row = document.createElement('div');
            row.classList.add('body-item');

            row.innerHTML = `
                <div class="row-item">
                    <input type="hidden" name="project" class="hidden-input" value="${rowData.project}">
                    <div class="select" data-cid="simple-select" style="width: 220px;">
                        <span class="select__current" data-value="${rowData.project}" data-cid="events-item">${rowData.projectText}</span>
                        <div class="select__body">
                            {% for project in projects %}
                            <div class="select__item" data-value="{{ project.id }}">{{ project.title }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row-item">
                    <input type="hidden" name="stage" class="hidden-input" value="${rowData.stage}">
                    <div class="select" data-cid="simple-select" style="width: 100px;">
                        <span class="select__current" data-value="${rowData.stage}">${rowData.stageText}</span>
                        <div class="select__body">
                            {% for stage_value, stage_display in stages %}
                            <div class="select__item" data-value="{{ stage_value }}">{{ stage_display }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row-item">
                    <input type="hidden" name="section" class="hidden-input" value="${rowData.section}">
                    <div class="select" data-cid="simple-select" style="width: 100px;">
                        <span class="select__current" data-value="${rowData.section}">${rowData.sectionText}</span>
                        <div class="select__body">
                            {% for section in sections %}
                            <div class="select__item" data-value="{{ section.id }}">{{ section.title }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row-item">
                    <input type="hidden" name="building" class="hidden-input" value="${rowData.building}">
                    <div class="select" data-cid="simple-select" style="width: 300px;">
                        <span class="select__current" data-value="${rowData.building}">${rowData.buildingText}</span>
                        <div class="select__body">
                            <div class="select__item" data-value="">Выберите проект</div>
                        </div>
                    </div>
                </div>
                <div class="row-item">
                    <input type="hidden" name="mark" class="hidden-input" value="${rowData.mark}">
                    <div class="select" data-cid="simple-select" style="width: 100px;">
                        <span class="select__current" data-value="${rowData.mark}">${rowData.markText}</span>
                        <div class="select__body">
                            {% for mark in marks %}
                            <div class="select__item" data-value="{{ mark.id }}">{{ mark.title }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row-item">
                    <input type="text" name="task" class="form-control" value="${rowData.task}" placeholder="Локальная задача" style="width: 200px;">
                    <ul class="select-list">
                        {% for task in tasks %}
                        <li class="select-list-item">{{ task.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row-item">
                    <div class="flex-block" style="width: 103px;">
                        <input type="number" name="time" class="form-control" value="${rowData.time}">
                        <span class="delete-row">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="24" viewBox="0 0 23 24" fill="none">
                                <path d="M15.7604 6.16667V5.45833C15.7604 4.46657 15.7604 3.97069 15.5674 3.59189C15.3976 3.25869 15.1267 2.98779 14.7935 2.81801C14.4147 2.625 13.9188 2.625 12.9271 2.625H11.5104C10.5187 2.625 10.0228 2.625 9.64398 2.81801C9.31077 2.98779 9.03987 3.25869 8.87009 3.59189C8.67708 3.97069 8.67708 4.46657 8.67708 5.45833V6.16667M10.4479 11.0365V15.4635M13.9896 11.0365V15.4635M4.25 6.16667H20.1875M18.4167 6.16667V16.0833C18.4167 17.571 18.4167 18.3148 18.1272 18.883C17.8725 19.3828 17.4661 19.7892 16.9663 20.0438C16.3981 20.3333 15.6543 20.3333 14.1667 20.3333H10.2708C8.78319 20.3333 8.03937 20.3333 7.47117 20.0438C6.97137 19.7892 6.56501 19.3828 6.31035 18.883C6.02083 18.3148 6.02083 17.571 6.02083 16.0833V6.16667" stroke="#A6A6A6" stroke-width="1.77083" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                    </div>
                </div>
            `;

            tableBody.appendChild(row);
            addEventListenersForRow(row);
            chekerInputToNull(row);
        });
    }

    const selectListItemArray = [
        {% for task in tasks %}
        {title: '{{ task.title }}'},
        {% endfor %}
    ];

    function addListenerForLi(arr, selector, input) {

        arr.forEach(item => {
            const li = document.createElement('li');
            li.classList.add('select-list-item');
            li.innerText = item.title;
            selector.appendChild(li);

            li.addEventListener('click', () => {
                input.value = item.title;
                selector.classList.remove('active');
                saveTableData();
            });
        });
    }

    document.addEventListener('click', (e) => {
        if (e.target.closest('input[name="task"]')) {
            const inputElement = e.target;
            const parent = inputElement.parentElement;
            const selectList = parent.querySelector('ul.select-list');

            selectList.classList.add('active');

            selectList.innerHTML = '';

            addListenerForLi(selectListItemArray, selectList, inputElement);

            if(inputElement.value != '') {

                selectList.innerHTML = '';

                const filtered = selectListItemArray.filter(item => item.title.toLowerCase().includes(e.target.value.toLowerCase()));

                addListenerForLi(filtered, selectList, inputElement);
            }

            inputElement.addEventListener('input', (e) => {

                selectList.innerHTML = '';

                const filtered = selectListItemArray.filter(item => item.title.toLowerCase().includes(e.target.value.toLowerCase()));

                addListenerForLi(filtered, selectList, inputElement);

            });
        } else {
            const allSelectLists = document.querySelectorAll('ul.select-list');
            allSelectLists.forEach(list => list.classList.remove('active'));
        }
    });


    // Автоматическое сохранение при изменении данных
    document.addEventListener('input', function(event) {
        if (event.target.closest('.form-control') || event.target.closest('.hidden-input')) {
            saveTableData();
        }
        inputsChecker();
        calcInputsValues();
    });

    // Очистка данных в localStorage при отправке отчёта
    document.querySelector('#sendReport').addEventListener('click', () => {
        localStorage.removeItem(localStorageKey);
    });

    const initialRows = {{ timelogs_data|length }};
    if (initialRows > 0){
        // Восстановление данных при загрузке страницы
        document.addEventListener('DOMContentLoaded', () => {
            // Добавление обработчиков событий для всех существующих строк
            const rows = document.querySelectorAll('.custom-table-body .body-item');
            rows.forEach(row => {
                addEventListenersForRow(row);
            });
            loadBuildingsAndSectionsForAllRows(); // Загружаем здания и разделы для всех строк
            restoreTableData();
            inputsChecker();
            calcInputsValues();



            const projectSelect = document.getElementById('id_project');
            const buildingSelect = document.getElementById('id_building');

            // Проверим, есть ли уже выбранный проект, чтобы сразу загрузить здания при старте
            const currentProjectId = projectSelect.value;
            if (currentProjectId) {
                loadBuildings(currentProjectId);
            }

            // Обработчик события изменения выбора проекта
            projectSelect.addEventListener('change', function() {
                const projectId = this.value;
                if (projectId) {
                    loadBuildings(projectId);  // Загружаем здания для выбранного объекта
                }
            });

            // Функция для загрузки зданий
            function loadBuildings(projectId) {
                // Очищаем текущий список зданий
                buildingSelect.innerHTML = '<option value="">-- Выберите здание --</option>';

                fetch(`/get_buildings_for_project/${projectId}/`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.buildings.length > 0) {
                            data.buildings.forEach(building => {
                                const option = document.createElement('option');
                                option.value = building.id;
                                option.textContent = building.name;
                                buildingSelect.appendChild(option);
                            });
                        } else {
                            buildingSelect.innerHTML = '<option value="">Нет доступных зданий</option>';
                        }
                    })
                    .catch(error => {
                        console.error('Ошибка при загрузке зданий:', error);
                });
            }
        });
    }
</script>
{% endblock %}
