{% extends 'task_manager/base.html' %}

{% block title %}
    {% if section %}Edit Section{% else %}Create Section{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{% if section %}Edit Section{% else %}Create Section{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Section Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ form.title.value }}">
        </div>
        <button type="submit" class="btn btn-primary">{% if section %}Update{% else %}Create{% endif %}</button>
    </form>
</div>
{% endblock %}
