{% extends 'task_manager/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form method="get" action="" class="form-inline add-users-form">
            <div class="logs-form-wrapper">
                <div class="logs-form-input-wrapper">
                    <div class="datepicker-wrapper">
                        <input type="text" name="start_date" value="{{ start_date }}" class="date-input" data-cid="calendar" placeholder="Дата начала" />
                    </div>
                    <span>—</span>
                    <div class="datepicker-wrapper">
                        <input type="text" name="end_date" value="{{ end_date }}" class="date-input" data-cid="calendar" placeholder="Дата окончания" />
                    </div>
                </div>
                <div class="select">
                    <span class="select__current">Период</span>
                    <div class="select__body">
                        <div class="select__item">Value 1</div>
                        <div class="select__item">Value 2</div>
                        <div class="select__item">Value 3</div>
                        <div class="select__item">Value 4</div>
                        <div class="select__item">Value 5</div>
                    </div>
                </div>
                <button class="accept-btn" type="submit">Применить</button>
                <!-- Кнопка для создания нового таймлога -->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#timelogModal">Добавить таймлог</button>
            </div>
        </form>
        <div class="table-wrapper only-bottom">
            <table id="logsTable" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 110px">
                            <button class="sorter" >
                                <p>Сотрудник</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th >
                            <button class="sorter">
                                <p>Отдел</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th >
                            <button class="sorter"> 
                                <p>Дата</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th style="width: 153px">
                            <button class="sorter">
                                <p>Объект</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th >
                            <button class="sorter">
                                <p>Стадия</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th >
                            <button class="sorter">
                                <p>Раздел</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th style="width: 223px">
                            <button class="sorter">
                                <p>ЗИС</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th >
                            <button class="sorter">
                                <p>Марка</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th >
                            <button class="sorter">
                                <p>Задача</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th style="width: 88px">
                            <p>Время</p>
                        </th>
                    </tr>
                </thead>
                <tbody id="logsTableBody"></tbody>
            </table>
        </div>
    
        <div class="pagination" id="pagination">
            <p id="pageInfo" class="page-info"></p>
            <div class="pagination-btn-wrapper">
                <button id="prevPage" class="pagination-button">Назад</button>
                <button id="nextPage" class="pagination-button">Вперед</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для создания нового таймлога -->
<div class="modal fade" id="timelogModal" tabindex="-1" aria-labelledby="timelogModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="timelogForm" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="timelogModalLabel">Создать таймлог</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Добавляем поля формы здесь -->
                    {{ form.as_p }} 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Обработчик отправки формы
    $('#timelogForm').on('submit', function (event) {
        event.preventDefault();
        const form = $(this);

        $.ajax({
            url: "{% url 'timelog-create' %}",
            method: 'POST',
            data: form.serialize(),
            success: function (data) {
                location.reload(); // Обновляем страницу после успешного создания
            },
            error: function (xhr, status, error) {
                console.error('Ошибка:', error);
            }
        });
    });


    const logs = [
        {% for log in timelogs %}
        {
            name: "{{ log.user }}",
            department: "{{ log.department.title }}",
            date: "{{ log.date|date:'Y-m-d' }}",
            project: "{{ log.project }}",
            stage: "{{ log.stage }}",
            section: "{{ log.section.title }}",
            project: "{{ log.building.title }}",
            mark: "{{ log.mark.title }}",
            task: "{{ log.task.title }}",
            time: "{{ log.time }}"
        },
        {% endfor %}
    ];

    let currentPage = 1;
    const rowsPerPage = 5;

    function displayUsers(logsToShow) {
        const tableBody = document.querySelector('#logsTableBody');
        tableBody.innerHTML = '';

        logsToShow.forEach(logs => {
            const row = `
                <tr>
                    <td>${logs.name}</td>
                    <td>${logs.department}</td>
                    <td>${logs.date}</td>
                    <td>${logs.project}</td>
                    <td>${logs.stage}</td>
                    <td>${logs.section}</td>
                    <td>${logs.project}</td>
                    <td>${logs.mark}</td>
                    <td>${logs.task}</td>
                    <td>${logs.time} часов</td>
                </tr>
            `;
            tableBody.innerHTML += row;
        });
    }

    function updatePageInfo(totalPages) {
        const pageInfo = document.getElementById('pageInfo');
        pageInfo.innerText = `Страница ${currentPage} / ${totalPages}`;
    }

    function setupPagination(logs) {
        const totalPages = Math.ceil(logs.length / rowsPerPage);

        document.getElementById('prevPage').addEventListener('click', () => {
            if (currentPage > 1) {
                currentPage--;
                displayPage(logs, totalPages);
            }
        });

        document.getElementById('nextPage').addEventListener('click', () => {
            if (currentPage < totalPages) {
                currentPage++;
                displayPage(logs, totalPages);
            }
        });

        displayPage(logs, totalPages);
    }

    function displayPage(logs, totalPages) {
        const start = (currentPage - 1) * rowsPerPage;
        const end = start + rowsPerPage;
        const logsToShow = logs.slice(start, end);
        displayUsers(logsToShow);
        updatePageInfo(totalPages);
    }

    setupPagination(logs);



</script>
{% endblock %}
