{% extends 'task_manager/base.html' %}

{% block title %}User List{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn add-user" data-toggle="modal" data-target="#addUserModal">
            Добавить Пользователя
        </button>

        <div class="table-wrapper">
            <table class="table table-striped" id="usersTable">
                <thead>
                    <tr>
                        <th class="col-2">
                            <button class="sorter">
                                <p>ФИО</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th class="col-1">
                            <button class="sorter">
                                <p>Отдел</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th class="col-2">
                            <button class="sorter">
                                <p>Должность</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th class="col-2">
                            <button class="sorter">
                                <p>Роль</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th class="col-3">
                            <p>Email</p>
                        </th>
                        <th class="col-1">
                            <button class="sorter">
                                <p>Статус</p>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M4 8H12M2 4H14M6 12H10" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </button>
                        </th>
                        <th class="col-1">
                            <p>Действия</p>
                        </th>
                    </tr>
                </thead>
                <tbody id="usersTableBody"></tbody>
            </table>
        </div>

        <div class="pagination" id="pagination">
            <p id="pageInfo" class="page-info"></p>
            <div class="pagination-btn-wrapper">
                <button id="prevPage" class="pagination-button">Назад</button>
                <button id="nextPage" class="pagination-button">Вперед</button>
            </div>
        </div>

    </div>
</div>

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" action="{% url 'user-create' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Добавление пользователя <br> в систему</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn add-btn">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit User Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="editUserForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Изменить ользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Поле для ввода ФИО -->
                    <div class="form-group">
                        <label for="id_full_name">ФИО:</label>
                        <input type="text" class="form-control" name="full_name" id="id_full_name" placeholder="Введите ФИО">
                    </div>
                    <!-- Оставшиеся поля формы -->
                    <div class="form-group">
                        <label for="id_department">Отдел:</label>
                        {{ form.department }}
                    </div>
                
                    <div class="form-group">
                        <label for="id_role">Роль:</label>
                        {{ form.role }}
                    </div>
                
                    <div class="form-group">
                        <label for="id_email">Email:</label>
                        {{ form.email }}
                    </div>
                
                    <div class="form-group">
                        <label for="id_status">Статус:</label>
                        {{ form.status }}
                    </div>
                </div>                                
                <div class="modal-footer modal-footer-delete">
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    <!-- Кнопка для сброса пароля -->
                    <a href="{% url 'reset-password' user.id %}" class="btn btn-danger">Сбросить пароль</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="36" viewBox="0 0 32 36" fill="none">
                          <path d="M22.6667 7.66667V6.33333C22.6667 4.46649 22.6667 3.53307 22.3034 2.82003C21.9838 2.19282 21.4738 1.68289 20.8466 1.36331C20.1336 1 19.2002 1 17.3333 1H14.6667C12.7998 1 11.8664 1 11.1534 1.36331C10.5262 1.68289 10.0162 2.19282 9.69664 2.82003C9.33333 3.53307 9.33333 4.46649 9.33333 6.33333V7.66667M12.6667 16.8333V25.1667M19.3333 16.8333V25.1667M1 7.66667H31M27.6667 7.66667V26.3333C27.6667 29.1336 27.6667 30.5337 27.1217 31.6033C26.6423 32.5441 25.8774 33.309 24.9366 33.7884C23.8671 34.3333 22.4669 34.3333 19.6667 34.3333H12.3333C9.53307 34.3333 8.13294 34.3333 7.06338 33.7884C6.12257 33.309 5.35767 32.5441 4.8783 31.6033C4.33333 30.5337 4.33333 29.1336 4.33333 26.3333V7.66667" stroke="#FF6D6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="warning-info">
                    Вы действительно хотите уволить сотрудника?
                </p>
                <p class="warning-info-secondary">
                    Это изменит статус пользователя на «Уволен» и лишит его доступа в систему.
                </p>
            </div>
            <div class="modal-footer modal-footer-delete">
                <form id="deleteUserForm" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // Handle Edit User modal display
    $('#editUserModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var userId = button.data('id');
    var userName = button.data('name');
    var modal = $(this);

    modal.find('.modal-title').html('Редактирование пользователя: <br>' + userName);

    // Update the form action URL
    $('#editUserForm').attr('action', '/users/' + userId + '/edit/');

    // Fill the form fields with the user data
    var row = button.closest('tr');
    modal.find('#id_first_name').val(row.find('[data-first-name]').data('first-name'));
    modal.find('#id_last_name').val(row.find('[data-last-name]').data('last-name'));
    modal.find('#id_email').val(row.find('[data-email]').data('email'));
    modal.find('#id_is_admin').prop('checked', row.find('[data-is-admin]').data('is-admin') == 'True');
    modal.find('#id_department').val(row.find('[data-department]').data('department'));
    modal.find('#id_role').val(row.find('[data-role]').data('role'));
    modal.find('#id_status').val(row.find('[data-status]').data('status'));

    // Update the reset password button link
    modal.find('.btn-warning').attr('href', '/users/' + userId + '/reset-password');
    });

    // Handle Delete User modal display
    $('#deleteUserModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var userId = button.data('id');
        var userName = button.data('name');
        var modal = $(this);

        modal.find('.warning-info').html('Вы действительно хотите <br> уволить сотрудника <br>' + userName + '?');

        // Update the form action URL
        $('#deleteUserForm').attr('action', '/users/' + userId + '/delete/');
    });

    const users = [
        {% for user in users %}
        {
            name: "{{ user.first_name }} {{ user.last_name }}",
            department: "{% if user.department %}{{ user.department.title }}{% else %}Not assigned{% endif %}",
            role: "{% if user.role %}{{ user.role.title }}{% else %}Not assigned{% endif %}",
            isAdmin: "{{ user.is_admin|yesno:'Admin,User' }}",
            email: "{{ user.email }}",
            status: "{{ user.get_status_display }}",
            id: "{{ user.pk }}"
        },
        {% endfor %}
    ];

    let currentPage = 1;
    const rowsPerPage = 7;

    function displayUsers(usersToShow) {
        const tableBody = document.querySelector('#usersTableBody');
        tableBody.innerHTML = '';

        usersToShow.forEach(user => {
            const row = `
                <tr>
                    <td>${user.name}</td>
                    <td>${user.department}</td>
                    <td>${user.role}</td>
                    <td>${user.isAdmin}</td>
                    <td>${user.email}</td>
                    <td>${user.status}</td>
                    <td>
                        <div class="actions-button-wrapper">
                            <button class="delete" data-toggle="modal" data-target="#deleteUserModal" data-id="${user.id}" data-name="${user.name}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="24" viewBox="0 0 23 24" fill="none">
                                    <path d="M15.2604 6.16667V5.45833C15.2604 4.46657 15.2604 3.97069 15.0674 3.59189C14.8976 3.25869 14.6267 2.98779 14.2935 2.81801C13.9147 2.625 13.4188 2.625 12.4271 2.625H11.0104C10.0187 2.625 9.52278 2.625 9.14398 2.81801C8.81077 2.98779 8.53987 3.25869 8.37009 3.59189C8.17708 3.97069 8.17708 4.46657 8.17708 5.45833V6.16667M9.94792 11.0365V15.4635M13.4896 11.0365V15.4635M3.75 6.16667H19.6875M17.9167 6.16667V16.0833C17.9167 17.571 17.9167 18.3148 17.6272 18.883C17.3725 19.3828 16.9661 19.7892 16.4663 20.0438C15.8981 20.3333 15.1543 20.3333 13.6667 20.3333H9.77083C8.28319 20.3333 7.53937 20.3333 6.97117 20.0438C6.47137 19.7892 6.06501 19.3828 5.81035 18.883C5.52083 18.3148 5.52083 17.571 5.52083 16.0833V6.16667" stroke="#A6A6A6" stroke-width="1.77083" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                            <form method="post" action="/users/${user.id}/invite/" style="display:inline;">
                                <input type="hidden" name="csrfmiddlewaretoken" value="${csrftoken}">
                                <button type="submit" class="btn send-invite" data-id="${user.id}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M4 7L10.94 11.3375C11.5885 11.7428 12.4115 11.7428 13.06 11.3375L20 7M5 18H19C20.1046 18 21 17.1046 21 16V8C21 6.89543 20.1046 6 19 6H5C3.89543 6 3 6.89543 3 8V16C3 17.1046 3.89543 18 5 18Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            `;
            tableBody.innerHTML += row;
        });
    }

    function updatePageInfo(totalPages) {
        const pageInfo = document.getElementById('pageInfo');
        pageInfo.innerText = `Страница ${currentPage} / ${totalPages}`;
    }

    function setupPagination(users) {
        const totalPages = Math.ceil(users.length / rowsPerPage);

        document.getElementById('prevPage').addEventListener('click', () => {
            if (currentPage > 1) {
                currentPage--;
                displayPage(users, totalPages);
            }
        });

        document.getElementById('nextPage').addEventListener('click', () => {
            if (currentPage < totalPages) {
                currentPage++;
                displayPage(users, totalPages);
            }
        });

        displayPage(users, totalPages);
    }

    function displayPage(users, totalPages) {
        const start = (currentPage - 1) * rowsPerPage;
        const end = start + rowsPerPage;
        const usersToShow = users.slice(start, end);
        displayUsers(usersToShow);
        updatePageInfo(totalPages);
    }

    setupPagination(users);

</script>
{% endblock %}
