* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "Roboto", sans-serif;
}

:root {
    --Text_Gray_100: #202020;
    --Text_Gray_40: #A6A6A6;
    --Text_Gray_20: #E9E9E9;
    --Background: #F3F7F9;
    --Text_Gray_10: #FFFFFF;
    --Primary_blue: #16AEDC;
    --Secondary: #E3F1F7;
    --Danger: #FF6D6D;
    --Hover-button-2: #0DA0CC;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::after,
select::before {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 6px;
    height: 2px;
    background-color: var(--Text_Gray_40);
}

input:focus,
select:focus,
input:focus-visible,
select:focus-visible,
input.form-controlfor:focus,
select.form-control:focus,
input.form-control:focus-visible,
select.form-control:focus-visible  {
    outline-color: var(--Primary_blue);
    outline-width: 1px;
    box-shadow: none;
}

input[type=date] {
    width: 175px;
    height: 40px;
    padding: 10px;
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    border-radius: 5px;
    border: 1px solid var(--Text_Gray_40);
}

input[type=date]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('../img/date.svg') no-repeat;
    width: 20px;
    height: 22px;
    border-width: thin;
}

input[type=checkbox] {
    width: 20px !important;
    height: 20px !important;
    border-radius: 3px !important;
    border: 1px solid var(--Text_Gray_40) !important;
}

body {
    background: var(--Background);
}

button:active,
button:focus, 
button:focus-visible {
    outline: none;
}

button:hover,
.button:hover {
    background: var(--Hover-button-2);
    transition: .2s all ease-in-out;
}

p {
    margin: 0;
}

header {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: var(--Text_Gray_10);
    margin-bottom: 58px;
}

h1 {
    color: var(--Text_Gray_100);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

h2 {
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

button {
    border-radius: 4px;
    background: var(--Primary_blue);
    display: flex;
    padding: 10px 20px;
    align-items: center;
    color: var(--Text_Gray_10);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    outline: none;
    border: none;
    cursor: pointer;
    min-height: 46px;
    transition: .2s all ease-in-out;
    text-decoration: none;
}

tbody tr td ul {
    list-style: none;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 20px 0;
}

.logo {
    width: 152px;
    height: 57px;
}

.header-info {
    display: flex;
    align-items: center;
}

.header-info-user-name {
    color: var(--Text_Gray_100);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.header-info-user-position {
    color: var(--Text_Gray_40);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.header-info-user {
    margin-right: 20px;
}

.header-info-img {
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.header-info-log-out {
    text-decoration: none;
    color: var(--Text_Gray_100);
    width: 20px;
    height: 24px;
}

.welcome {
    padding: 60px 0;
}


.button {
    border-radius: 4px;
    background: var(--Primary_blue);
    display: flex;
    padding: 10px 20px;
    align-items: center;
    color: var(--Text_Gray_10);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    outline: none;
    border: none;
    cursor: pointer;
    min-height: 46px;
    transition: .2s all ease-in-out;
    text-decoration: none;
}

.button:active, .button:focus {
    outline: none;
}



.sign-in {
    width: 422px;
    padding: 40px;
    border-radius: 10px;
    background: var(--Text_Gray_10);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.sign-in .logo {
    width: 200px;
    height: 75px;
    margin-bottom: 25px;
}
.sign-in h1 {
    margin-bottom: 25px;
}

.sign-in label {
    margin-bottom: 25px;
    display: block;
}

.sign-in label h2 {
    margin-bottom: 10px;
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
}

.sign-in label input {
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--Text_Gray_40);
    width: 100%;
}

.sign-in label .pass-input svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-40%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.forgot-pass {
    color: var(--Text_Gray_100, #202020);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    text-decoration: none;
    margin-bottom: 25px;
    display: block;
}

.sign-in button, a.button {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 10px 21px
}

.back-to-main {
    padding: 49px 0 29px;
}

.back-to-main-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: auto;
    text-decoration: none;
}


.back-to-main-wrapper span {
    width: 16px;
    height: 16px;
    margin-right: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s all;
}

.back-to-main-wrapper:hover.back-to-main-wrapper span {
    left: -5px;
    transition: .2s all;
}

.back-to-main-wrapper p {
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
    padding-left: 36px;
}

.admin-main-navigation {
    margin-bottom: 20px;
}

.admin-main-navigation ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 -5px;
}
.admin-main-navigation ul li {
    padding: 0 5px;
}

.admin-main-navigation ul li a {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: var(--Text_Gray_10);
    padding: 20px;
    text-decoration: none;
    color: var(--Text_Gray_40);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    transition: .2s all;
}

.admin-main-navigation ul li a:hover {
    background-color: var(--Hover-button-2);
    color: var(--Text_Gray_10);
}

.admin-main-navigation ul li.active a {
    background-color: var(--Primary_blue);
    color: var(--Text_Gray_10);
}

.admin-main-navigation ul li a span {
    width: 18px;
    height: 21px;
    margin-right: 10px;
}

nav.handbooks, nav.reports {
    display: none;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Text_Gray_10);
    border-radius: 10px 10px 0 0;
}

nav.handbooks.active, nav.reports.active {
    display: flex;
}

nav.handbooks ul, nav.reports ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav.handbooks ul li, nav.reports ul li {
    padding: 34px 50px 34px 0;
    border-bottom: 2px solid var(--Text_Gray_20);
    z-index: 2;
}

nav.handbooks ul li.active, nav.reports ul li.active {
    border-bottom: 2px solid var(--Primary_blue);
}

nav.handbooks ul li a, nav.reports ul li a {
    color: var(--Text_Gray_40);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    transition: .2s all;
}

nav.handbooks ul li a:hover, nav.reports ul li a:hover {
    text-decoration: none;
    color: var(--Primary_blue);
    transition: .2s all;
}

nav.handbooks ul li.active a, nav.reports ul li.active a {
    color: var(--Primary_blue);
    font-weight: 600;
}

nav.handbooks span, nav.reports span {
    width: 96.8%;
    height: 2px;
    background-color: var(--Text_Gray_20);
    bottom: 16px;
    left: 20px;
    display: block;
    position: absolute;
    z-index: 1;
}

button.edit, button.delete {
    background-color: transparent;
    display: block;
    padding: 0;
}

button.edit {
    width: 16px;
    min-height: 16px;
    margin-right: 20px;
}

button.delete {
    width: 22px;
    min-height: 22px;
}

button.add-depart {
    display: none;
    height: 46px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 4px;
    background: var(--Primary_blue);
    color: var(--Text_Gray_10);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
}

button.add-depart.active {
    display: flex;
}

.actions-button-wrapper {
    display: flex;
    align-items: center;
}

button.sorter {
    background-color: transparent;
    align-items: center;
    padding: 0;
    min-height: 0;
    height: auto;
}

button.sorter p {
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    margin-right: 10px;
}

button.sorter span {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    background-color: var(--Text_Gray_10);
    margin: 0;
}

.table thead {
    border: 1px solid var(--Text_Gray_20);
    background: var(--Secondary);
}

.table tbody tr {
    border: 1px solid var(--Text_Gray_20);
    border-top: none;
}

.table tbody tr:last-child {
    border-radius: 0 0 10px 10px;
}

.table td, .table th, .table thead th {
    border: none;
    padding: 20px;
}

.table td p, .table th p, .table thead th p {
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--Text_Gray_10);
}

.modal-dialog {
    max-width: 100%;
    margin: 0;
    height: 100%;
}

.modal-content {
    margin: 0;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: auto;
    border-radius: 10px;
    padding: 40px;
    min-width: 400px;
    border: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.modal-header {
    display: block;
    border: none;
    padding: 0;
    margin: 0 0 25px 0;
    border-radius: 0;
}

.modal-header .close {
    position: absolute;
    top: -23px;
    right: -29px;
    padding: 0;
    margin: 0;
    width: 14px;
    min-height: 14px;
    display: block;
    line-height: 0;
    outline: none;
}

.modal-header .close span {
    width: 14px;
    height: 14px;
    display: block;
}

.modal-header .modal-title {
    color: var(--Text_Gray_100);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: 1;
    background-color: transparent;
    outline: none;
}

.modal-backdrop.show {
    opacity: 0;
}

.modal-body {
    padding: 0;
    border: none;
    margin: 0 0 25px 0;
}

.modal-body p label {
    margin-bottom: 10px;
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    text-align: right;
}

.modal-body p input {
    height: 40px;
    padding: 10px;
    display: block;
    width: 100%;
    color: var(--Text_Gray_40);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.modal-body p.title-delete {
    color: var(--Text_Gray_100);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal-footer {
    padding: 0;
    border: none;
    border-radius: 0;
}

.modal-footer .add-btn {
    width: 100%;
    height: 46px;
    padding: 10px 21px;
    justify-content: center;
    align-items: center;
    color: var(--Text_Gray_10);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    border-radius: 4px;
    background: var(--Primary_blue);
    margin: 0;
}

.modal-footer.modal-footer-delete {
    justify-content: space-between;
}

.modal-footer.modal-footer-delete form, .modal-footer.modal-footer-delete .btn-danger .btn-secondary {
    margin: 0;
}

.modal-footer.modal-footer-delete form .btn-danger {
    width: 185px;
    height: 46px;
    padding: 10px 21px;
    border-radius: 4px;
    background: var(--Danger);
    text-align: center;
    color: var(--Text_Gray_10);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    border: none;
    outline: none;
}

.modal-footer.modal-footer-delete .btn-secondary {
    width: 185px;
    height: 46px;
    padding: 10px 21px;
    border-radius: 4px;
    background-color: var(--Text_Gray_10);
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    border: 2px solid var(--Text_Gray_20);
    outline: none;
    margin: 0;
}

.modal-footer.modal-footer-delete .add-btn,
.modal-footer.modal-footer-delete .btn-danger {
    width: 185px;
    height: 46px;
    padding: 10px 21px;
    margin: 0;
}

.modal-footer.modal-footer-delete .add-btn {
    width: 220px;
}

.modal-header .modal-title span {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.add-user {
    top: -66px;
    right: 15px;
    position: absolute;
    background-color: var(--Primary_blue);
    color: var(--Text_Gray_10);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    text-align: center;
    padding: 10px 20px;
    min-height: 46px;
    border-radius: 4px;
    outline: none;
    border: none;
}

.add-user:hover, .add-user:focus {
    color: var(--Text_Gray_10);
    box-shadow: none;
    outline: none;
}

.add-users-form {
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--Text_Gray_20);
    background: var(--Text_Gray_10);
    border-bottom: 0;
    padding: 20px;
}

button.btn-users-filter {
    min-height: 40px;
    width: 126px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--Primary_blue);
    color: var(--Text_Gray_10);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    outline: none;
    box-shadow: none;
    border: none;
    transition: .2s all;
}

button.btn-users-filter:hover {
    background-color: var(--Hover-button-2);
    transition: .2s all;
}

button.btn-users-filter:focus,
button.btn-users-filter:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.form-group {
    margin-right: 30px;
}

button.send-invite {
    background-color: transparent;
    color: var(--Primary_blue);
    width: 24px;
    min-height: 24px;
    display: block;
    padding: 0;
    margin: 0 0 0 20px;
    border: none;
    outline: none;
}

button.send-invite:hover,
button.send-invite:active,
button.send-invite:focus {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: var(--Primary_blue);
}

#addUserModal .modal-content,
#editUserModal .modal-content {
    top: 15%;
    min-width: 480px;
}

#addUserModal .modal-content input,
#editUserModal .modal-content input,
#projectModal .modal-content input {
    border-radius: 5px;
    border: 1px solid var(--Text_Gray_40);
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    margin-bottom: 25px;
    padding: 10px;
    height: 40px;
    width: 100%;
}

#addUserModal .modal-content select,
#editUserModal .modal-content select,
#projectModal .modal-content select {
    border-radius: 5px;
    border: 1px solid var(--Text_Grey_40, #A6A6A6);
    display: block;
    width: 100%;
    padding: 10px;
    height: 40px;
    margin-bottom: 25px;
}

#deleteUserModal .modal-content {
    max-width: 480px;
}

.warning-info {
    color: var(--Text_Gray_100, #202020);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

.warning-info-secondary {
    color: var(--Text_Gray_100, #202020);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
}

#pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    position: fixed;
    bottom: 20px;
    width: 1290px;
}

#pageInfo {
    color: #2A2A2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.14px;
}

.pagination-btn-wrapper {
    display: flex;
    align-items: center;
    margin: 0 -10px;
}

button.pagination-button {
    margin: 0 10px;
    display: block;
    border-radius: 4px;
    border: 1px solid var(--Text_Gray_20);
    background: var(--Text_Gray_10);
    padding: 8px 16px;
    color: #2A2A2A;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.modal-body .form-group {
    margin: 0;
}

.modal-footer.modal-footer-delete .btn.btn-primary {
    margin: 0;
}

#projectModal .modal-content {
    top: 15%;
    min-width: 480px;
}

#projectModal .modal-content .tabs-wraper .tabs-wrapper-btns {
    display: flex;
    align-items: center;
}

#projectModal .modal-content .tabs-wraper .tabs-wrapper-btns button {
    padding: 0 110px 20px 0;
    min-height: auto;
    min-height: auto;
    width: auto;
    height: auto;
    color: var(--Text_Gray_40);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    border-bottom: 2px var(--Text_Gray_20) solid;
    background: transparent;
    border-radius: 0;
}

#projectModal .modal-content .tabs-wraper .tabs-wrapper-btns button#zis {
    margin-right: 50px;
}

#projectModal .modal-content .tabs-wraper .tabs-wrapper-btns button.active {
    color: var(--Primary_blue);
    border-bottom: 2px var(--Primary_blue) solid; 
    z-index: 12;
}

#projectModal .modal-content .tabs-wraper .tabs-wrapper-btns span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--Text_Gray_20);
    z-index: 11;
}

#zisContent, #sectionsContent {
    padding-top: 35px;
}

.zis-btn-wrap {
    display: flex;
    align-items: center;
}

.zis-btn-wrap p {
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    margin-right: 10px;
}

#addBuildingBtn {
    display: flex;
    width: 25px;
    height: 25px;
    padding: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--Primary_blue);
    padding: 0;
    min-height: 25px;
}

#zisContent .list-group {
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

#zisContent .list-group .list-group-item {
    border-radius: 5px;
    border: 1px solid var(--Text_Gray_40);
    height: 40px;
    padding: 10px;
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    margin-bottom: 25px;
}

#zisContent .list-group .list-group-item .delet-zis-btn {
    width: 22px;
    min-height: 22px;
    position: absolute;
    right: 10px;
    top: 52%;
    transform: translateY(-50%);
    background: transparent;
    padding: 0;
}

#projectModal .form-check {
    padding-left: 30px;
    display: flex;
    align-items: center;
    height: 40px;
}

#projectModal .form-check-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--Text_Gray_100);
}

#projectModal .form-check .form-check-input{
    margin-top: 0;
    margin-left: -30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none !important;
}

#projectModal .form-check .form-check-input::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid var(--Text_Gray_40);
    border-radius: 3px;
}

#projectModal .form-check .form-check-input::before {
    content: 'L';
    color: var(--Primary_blue);
    font-size: 17px;
    font-weight: 600;
    width: 14px;
    height: 14px;
    display: block;
    background-color: transparent;
    position: absolute;
    top: -1px;
    transform: translateY(-50%);
    left: 3px;
    transform: rotate(45deg) scaleX(-1);
    opacity: 0;
}

#projectModal .form-check .form-check-input:checked::after {
    border: 1px solid var(--Primary_blue);
}

#projectModal .form-check .form-check-input:checked::before {
    opacity: 1;
}

#logsTable tbody tr td {
    border-right: 1px solid var(--Text_Gray_20);
    padding: 30px 20px;
}

#logsTable tbody tr td:last-child {
    border-right: none;
}

.logs-form-wrapper {
    display: flex;
    align-items: center;
}

.logs-form-input-wrapper {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.logs-form-wrapper .btn.btn-success {
    margin-left: 30px;
    display: none;
}

.logs-form-input-wrapper span {
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    margin: 0 10px;
}

#logsTimings {
    margin-right: 30px;
    display: block;
    width: 185px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--Text_Gray_40);
    padding: 10px;
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}