* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "Roboto", sans-serif;
}

:root {
    --Text_Gray_100: #202020;
    --Text_Gray_40: #A6A6A6;
    --Text_Gray_20: #E9E9E9;
    --Background: #F3F7F9;
    --Text_Gray_10: #FFFFFF;
    --Primary_blue: #16AEDC;
    --Secondary: #E3F1F7;
    --Danger: #FF6D6D;
    --Hover-button-2: #0DA0CC;
}

html {
    scroll-behavior: smooth;
  }


select::after,
select::before {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 6px;
    height: 2px;
    background-color: var(--Text_Gray_40);
}

input:focus,
select:focus,
input:focus-visible,
select:focus-visible,
input.form-controlfor:focus,
select.form-control:focus,
input.form-control:focus-visible,
select.form-control:focus-visible  {
    outline: 1px solid var(--Primary_blue) !important;
    border: 1px solid var(--Primary_blue) !important;
    box-shadow: none !important;
}

input[type=date],
input[type=text] {
    width: 175px;
    height: 40px;
    padding: 10px;
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    border-radius: 5px;
    border: 1px solid var(--Text_Gray_40);
    font-family: "Roboto", sans-serif;
}

input[data-cid=calendar]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('https://s3.timeweb.com/7777fb51-34f4640c-d71e-4ace-b57e-e7997a1f4952/calendar.svg') no-repeat;
    width: 20px;
    height: 22px;
    border-width: thin;
}

.datepicker-wrapper::after {
    content: '';
    position: absolute;
    display: block;
    background: url('https://s3.timeweb.com/7777fb51-34f4640c-d71e-4ace-b57e-e7997a1f4952/calendar.svg') no-repeat;
    width: 20px;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

input[type=checkbox] {
    width: 20px !important;
    height: 20px !important;
    border-radius: 3px !important;
    border: 1px solid var(--Text_Gray_40) !important;
}

.select.error,
.flex-block input.error,
input.error {
    border: 1px solid var(--Danger);
    outline: 1px solid var(--Danger);
}

body {
    background: var(--Background);
    padding: 0 0 86px 0;
}

button:active,
button:focus, 
button:focus-visible {
    outline: none;
}

button:hover,
.button:hover {
    background: var(--Hover-button-2);
    transition: .2s all ease-in-out;
}

p {
    margin: 0;
}

header {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: var(--Text_Gray_10);
    margin-bottom: 58px;
}

h1 {
    color: var(--Text_Gray_100);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

h2 {
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

button {
    border-radius: 4px;
    background: var(--Primary_blue);
    display: flex;
    padding: 10px 20px;
    align-items: center;
    color: var(--Text_Gray_10);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    outline: none;
    border: none;
    cursor: pointer;
    min-height: 46px;
    transition: .2s all ease-in-out;
    text-decoration: none;
}

button:disabled {
    cursor: not-allowed;
}

tbody tr td ul {
    list-style: none;
}

tbody tr td {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 20px 0;
}

.logo {
    width: 152px;
    height: 57px;
}

.header-info {
    display: flex;
    align-items: center;
}

.header-info-user-name {
    color: var(--Text_Gray_100);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.header-info-user-position {
    color: var(--Text_Gray_40);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.header-info-user {
    margin-right: 20px;
}

.header-info-img {
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.header-info-log-out {
    text-decoration: none;
    color: var(--Text_Gray_100);
    width: 20px;
    height: 24px;
}

.welcome {
    padding: 60px 0;
}


.button {
    border-radius: 4px;
    background: var(--Primary_blue);
    display: flex;
    padding: 10px 20px;
    align-items: center;
    color: var(--Text_Gray_10);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    outline: none;
    border: none;
    cursor: pointer;
    min-height: 46px;
    transition: .2s all ease-in-out;
    text-decoration: none;
}

.button:active, .button:focus {
    outline: none;
}



.sign-in {
    width: 422px;
    padding: 40px;
    border-radius: 10px;
    background: var(--Text_Gray_10);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.sign-in .logo {
    width: 200px;
    height: 75px;
    margin-bottom: 25px;
}
.sign-in h1 {
    margin-bottom: 25px;
}

.sign-in label {
    margin-bottom: 25px;
    display: block;
}

.sign-in label h2 {
    margin-bottom: 10px;
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
}

.sign-in label input {
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--Text_Gray_40);
    width: 100%;
}

.sign-in label .pass-input svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-40%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.forgot-pass {
    color: var(--Text_Gray_100, #202020);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    text-decoration: none;
    margin-bottom: 25px;
    display: block;
}

.sign-in button, a.button {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 10px 21px
}

.back-to-main {
    padding: 49px 0 29px;
}

.back-to-main-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: auto;
    text-decoration: none;
}


.back-to-main-wrapper span {
    width: 16px;
    height: 16px;
    margin-right: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s all;
}

.back-to-main-wrapper:hover.back-to-main-wrapper span {
    left: -5px;
    transition: .2s all;
}

.back-to-main-wrapper p {
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
    padding-left: 36px;
}

.admin-main-navigation {
    margin-bottom: 20px;
}

.admin-main-navigation ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 -5px;
}
.admin-main-navigation ul li {
    padding: 0 5px;
}

.admin-main-navigation ul li a {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: var(--Text_Gray_10);
    padding: 20px;
    text-decoration: none;
    color: var(--Text_Gray_40);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    transition: .2s all;
}

.admin-main-navigation ul li a:hover {
    background-color: var(--Hover-button-2);
    color: var(--Text_Gray_10);
}

.admin-main-navigation ul li.active a {
    background-color: var(--Primary_blue);
    color: var(--Text_Gray_10);
}

.admin-main-navigation ul li a span {
    width: 18px;
    height: 21px;
    margin-right: 10px;
}

nav.handbooks,
nav.handbooks.reports {
    display: none;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Text_Gray_10);
    border-radius: 10px 10px 0 0;
}

nav.handbooks.active,
nav.handbooks.reports.active {
    display: flex;
}

nav.handbooks ul,
nav.handbooks.reports ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav.handbooks ul li,
nav.handbooks.reports ul li {
    padding: 34px 50px 34px 0;
    border-bottom: 2px solid var(--Text_Gray_20);
    z-index: 2;
    height: 94px;
}

nav.handbooks ul li.active,
nav.handbooks.reports ul li.active {
    border-bottom: 2px solid var(--Primary_blue);
}

nav.handbooks ul li a,
nav.handbooks.reports ul li a,
nav.handbooks.reports ul li p {
    color: var(--Text_Gray_40);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    transition: .2s all;
    cursor: pointer;
}

nav.handbooks ul li a:hover,
nav.handbooks.reports ul li a:hover,
nav.handbooks.reports ul li p:hover {
    text-decoration: none;
    color: var(--Primary_blue);
    transition: .2s all;
}

nav.handbooks ul li.active a,
nav.handbooks.reports ul li.active a,
nav.handbooks.reports ul li.active p {
    color: var(--Primary_blue);
    font-weight: 600;
}

nav.handbooks span,
nav.handbooks.reports span {
    width: 96.8%;
    height: 2px;
    background-color: var(--Text_Gray_20);
    bottom: 16px;
    left: 20px;
    display: block;
    position: absolute;
    z-index: 1;
}

button.edit, button.delete {
    background-color: transparent;
    display: block;
    padding: 0;
}

button.edit {
    width: 16px;
    min-height: 16px;
    margin-right: 20px;
}

button.delete {
    width: 22px;
    min-height: 22px;
}

button.add-depart {
    display: none;
    height: 46px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 4px;
    background: var(--Primary_blue);
    color: var(--Text_Gray_10);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    margin-bottom: 15px;
}

button.add-depart.active {
    display: flex;
}

.actions-button-wrapper {
    display: flex;
    align-items: center;
}

button.sorter {
    background-color: transparent;
    align-items: center;
    padding: 0;
    min-height: 0;
    height: auto;
}

button.sorter p {
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    margin-right: 10px;
}

button.sorter span {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-wrapper {
    border: 1px solid var(--Text_Gray_20);
    border-radius: 10px;
}

.table-wrapper.personal {
    overflow: visible;
}

.table-wrapper.only-bottom {
    border-radius: 0 0 10px 10px;
}

.table-wrapper.only-bottom.scroller {
    overflow-x: scroll;
}

.table {
    background-color: var(--Text_Gray_10);
    margin: 0;
}

.table .table__header {
    border: none;
    background: var(--Secondary);
}

.table .table__header .table__row {
    height: 58px;
    align-items: center;
}

.table .table__header .table__row,
.table .table__body .table__row {
    display: flex;
    justify-content: space-between;
}

.table .table__body .table__row.finish-tr {
    background: var(--Secondary);
}

.table .table__header .table__row .table__item,
.table .table__body .table__row .table__item {
    padding: 20px 10px;
}

.table .table__header .table__row .table__item:first-child,
.table .table__body .table__row .table__item:first-child {
    padding: 20px 10px 20px 20px;
}

.table .table__header .table__row .table__item:last-child,
.table .table__body .table__row .table__item:last-child {
    padding: 20px 20px 20px 10px;
}

.table .table__body .table__row .table__item {
    height: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-right: 1px solid var(--Text_Gray_20);
    overflow: hidden;
}

.table .table__body .table__row .table__item.no-border {
    border: none
}

.table .table__body .table__row .table__item.border-in {
    border-right: 1px solid var(--Text_Gray_20) !important;
}

.table .table__body .table__row .table__item:last-child {
    border-right: none;
}

.table .table__header .table__row .table__item p {
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.table .table__body .table__row {
    border-bottom: 1px solid var(--Text_Gray_20);
}


.table .table__header.scrolled {
    position: fixed;
    top: 0;
    width: 1290px;
    z-index: 100;
}

.table__wrapper {
    display: flex;
}

.table__wrapper .table__left,
.table__wrapper .table__right {
    height: 100%;
}

.table__wrapper .table__left {
    min-width: 758px;
    max-width: 758px;
}

.table__wrapper .table__left .table .table__header .table__row {
    justify-content: start;
}

.table__wrapper .table__right {
    width: 100%;
    overflow: hidden;
}

.table__wrapper .table__right .table__scroll {
    overflow-x: scroll;
}

.table__wrapper .table__right .table__scroll .table {
    display: grid;
}

.table__wrapper .table__right .table__scroll .table .table__header .table__header__title {
    text-align: left;
    padding: 0 10px;
    letter-spacing: 1px;
}

.table__wrapper .table__right .table__scroll .table .table__header .table__row .table__item {
    background-color: var(--Secondary);
}

.table__wrapper .table__right .table__scroll .table .table__body .table__row .table__item {
    background-color: var(--Text_Gray_10);
    overflow: visible;
    width: 30px !important;
}

.table__wrapper .table__right .table__scroll .table .table__body .table__row .table__item:first-child,
.table__wrapper .table__right .table__scroll .table .table__header .table__row .table__item:first-child {
    padding: 20px 10px;
}

.table__wrapper .table__left .table .table__body .table__row .table__item:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table .table__header .table__header__wrapper {
    border-right: 1px soid var(--Text_Gray_20);
    border-left: 1px soid var(--Text_Gray_20);
}

.table.table-report-create tbody tr:last-child {
    border-bottom: 1px solid var(--Text_Gray_20);
}

.table thead th {
    vertical-align: middle;
}

.table td, .table th, .table thead th {
    border: none;
    padding: 20px;
}

.table td p, .table th p, .table thead th p {
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--Text_Gray_10);
}

.modal-dialog {
    max-width: 100%;
    margin: 0;
    height: 100%;
}

.modal-content {
    margin: 0;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: auto;
    border-radius: 10px;
    padding: 40px;
    min-width: 400px;
    border: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.modal-header {
    display: block;
    border: none;
    padding: 0;
    margin: 0 0 25px 0;
    border-radius: 0;
}

.modal-header .close {
    position: absolute;
    top: -23px;
    right: -29px;
    padding: 0;
    margin: 0;
    width: 14px;
    min-height: 14px;
    display: block;
    line-height: 0;
    outline: none;
}

.modal-header .close span {
    width: 14px;
    height: 14px;
    display: block;
}

.modal-header .modal-title {
    color: var(--Text_Gray_100);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: 1;
    background-color: transparent;
    outline: none;
}

.modal-backdrop.show {
    opacity: 0;
}

.modal-body {
    padding: 0;
    border: none;
    margin: 0 0 25px 0;
}

.modal-body p label {
    margin-bottom: 10px;
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    text-align: right;
}

.modal-body p input {
    height: 40px;
    padding: 10px;
    display: block;
    width: 100%;
    color: var(--Text_Gray_40);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.modal-body p.title-delete {
    color: var(--Text_Gray_100);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal-footer {
    padding: 0;
    border: none;
    border-radius: 0;
}

.modal-footer .add-btn {
    width: 100%;
    height: 46px;
    padding: 10px 21px;
    justify-content: center;
    align-items: center;
    color: var(--Text_Gray_10);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    border-radius: 4px;
    background: var(--Primary_blue);
    margin: 0;
}

.modal-footer.modal-footer-delete {
    justify-content: space-between;
}

.modal-footer.modal-footer-delete.solo-btn {
    justify-content: center;
}

.modal-footer.modal-footer-delete form, .modal-footer.modal-footer-delete .btn-danger .btn-secondary {
    margin: 0;
}

.modal-footer.modal-footer-delete form .btn-danger {
    width: 185px;
    height: 46px;
    padding: 10px 21px;
    border-radius: 4px;
    background: var(--Danger);
    text-align: center;
    color: var(--Text_Gray_10);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    border: none;
    outline: none;
}

.modal-footer.modal-footer-delete .btn-secondary {
    width: 185px;
    height: 46px;
    padding: 10px 21px;
    border-radius: 4px;
    background-color: var(--Text_Gray_10);
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    border: 2px solid var(--Text_Gray_20);
    outline: none;
    margin: 0;
}

.modal-footer.modal-footer-delete .add-btn,
.modal-footer.modal-footer-delete .btn-danger {
    width: 185px;
    height: 46px;
    padding: 10px 21px;
    margin: 0;
}

.modal-footer.modal-footer-delete .add-btn {
    width: 220px;
}

.modal-header .modal-title span {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.add-user {
    top: -66px;
    right: 15px;
    position: absolute;
    background-color: var(--Primary_blue);
    color: var(--Text_Gray_10);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    text-align: center;
    padding: 10px 20px;
    min-height: 46px;
    border-radius: 4px;
    outline: none;
    border: none;
}

.add-user:hover, .add-user:focus {
    color: var(--Text_Gray_10);
    box-shadow: none;
    outline: none;
}

.add-users-form {
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--Text_Gray_20);
    background: var(--Text_Gray_10);
    border-bottom: 0;
    padding: 20px;
}

.reports-form {
    border-radius: 0;
    border: 0;
    background: var(--Text_Gray_10);
    padding: 20px;
}

.reports-form .accept-btn,
.add-users-form .accept-btn {
    min-height: 40px;
    height: 40px;
}

button.btn-users-filter {
    min-height: 40px;
    width: 126px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--Primary_blue);
    color: var(--Text_Gray_10);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    outline: none;
    box-shadow: none;
    border: none;
    transition: .2s all;
}

button.btn-users-filter:hover {
    background-color: var(--Hover-button-2);
    transition: .2s all;
}

button.btn-users-filter:focus,
button.btn-users-filter:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.form-group {
    margin-right: 30px;
}

button.send-invite {
    background-color: transparent;
    color: var(--Primary_blue);
    width: 24px;
    min-height: 24px;
    display: block;
    padding: 0;
    margin: 0 0 0 20px;
    border: none;
    outline: none;
}

button.send-invite:hover,
button.send-invite:active,
button.send-invite:focus {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: var(--Primary_blue);
}

#addUserModal .modal-content,
#editUserModal .modal-content {
    top: 15%;
    min-width: 480px;
}

#addUserModal .modal-content input,
#editUserModal .modal-content input,
#projectModal .modal-content input,
#projectModalNew .modal-content input {
    border-radius: 5px;
    border: 1px solid var(--Text_Gray_40);
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    margin-bottom: 25px;
    padding: 10px;
    height: 40px;
    width: 100%;
}

#addUserModal .modal-content select,
#editUserModal .modal-content select,
#projectModal .modal-content select, 
#projectModalNew .modal-content select {
    border-radius: 5px;
    border: 1px solid var(--Text_Grey_40, #A6A6A6);
    display: block;
    width: 100%;
    padding: 10px;
    height: 40px;
    margin-bottom: 25px;
}

#deleteUserModal .modal-content {
    max-width: 480px;
}

.warning-info {
    color: var(--Text_Gray_100, #202020);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

.warning-info-secondary {
    color: var(--Text_Gray_100, #202020);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
}

#pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    position: fixed;
    bottom: 20px;
    width: 1290px;
}

#pageInfo {
    color: #2A2A2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.14px;
}

.pagination-btn-wrapper {
    display: flex;
    align-items: center;
    margin: 0 -10px;
}

button.pagination-button {
    margin: 0 10px;
    display: block;
    border-radius: 4px;
    border: 1px solid var(--Text_Gray_20);
    background: var(--Text_Gray_10);
    padding: 8px 16px;
    color: #2A2A2A;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.modal-body .form-group {
    margin: 0;
}

.modal-footer.modal-footer-delete .btn.btn-primary {
    margin: 0;
}

#projectModal .modal-content,
#projectModalNew .modal-content {
    top: 15%;
    min-width: 480px;
}

#projectModal .modal-content .tabs-wraper .tabs-wrapper-btns,
#projectModalNew .modal-content .tabs-wraper .tabs-wrapper-btns {
    display: flex;
    align-items: center;
}

#projectModal .modal-content .tabs-wraper .tabs-wrapper-btns button,
#projectModalNew .modal-content .tabs-wraper .tabs-wrapper-btns button {
    padding: 0 110px 20px 0;
    min-height: auto;
    min-height: auto;
    width: auto;
    height: auto;
    color: var(--Text_Gray_40);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 112.5% */
    border-bottom: 2px var(--Text_Gray_20) solid;
    background: transparent;
    border-radius: 0;
}

#projectModal .modal-content .tabs-wraper .tabs-wrapper-btns button#zis,
#projectModalNew .modal-content .tabs-wraper .tabs-wrapper-btns button#zis {
    margin-right: 50px;
}

#projectModal .modal-content .tabs-wraper .tabs-wrapper-btns button.active,
#projectModalNew .modal-content .tabs-wraper .tabs-wrapper-btns button.active {
    color: var(--Primary_blue);
    border-bottom: 2px var(--Primary_blue) solid; 
    z-index: 12;
}

#projectModal .modal-content .tabs-wraper .tabs-wrapper-btns span,
#projectModalNew .modal-content .tabs-wraper .tabs-wrapper-btns span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--Text_Gray_20);
    z-index: 11;
}

#zisContent, #sectionsContent {
    padding-top: 35px;
}

.zis-btn-wrap {
    display: flex;
    align-items: center;
}

.zis-btn-wrap p {
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    margin-right: 10px;
}

#openModalToAdd {
    display: flex;
    width: 25px;
    height: 25px;
    padding: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--Primary_blue);
    padding: 0;
    min-height: 25px;
}

#zisContent .list-group {
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

#zisContent .list-group .list-group-item {
    border-radius: 5px;
    border: 1px solid var(--Text_Gray_40);
    height: 40px;
    padding: 10px 70px 10px 10px;
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    margin-bottom: 25px;
}

#zisContent .list-group .list-group-item.active {
    outline: 1px solid var(--Primary_blue) !important;
    border: 1px solid var(--Primary_blue) !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

#zisContent .list-group .list-group-item input {
    position: absolute;
    top: 0;
    left: 0;
    width: 82%;
    border: none;
    height: 100%;
    margin: 0;
}

#zisContent .list-group .list-group-item input:active,
#zisContent .list-group .list-group-item input:focus-visible,
#zisContent .list-group .list-group-item input:focus {
    border: none !important;
    outline: none !important;
}

#zisContent .list-group .list-group-item .delet-zis-btn,
#zisContent .list-group .list-group-item .edit-zis-btn {
    width: 22px;
    min-height: 22px;
    position: absolute;
    right: 10px;
    top: 52%;
    transform: translateY(-50%);
    background: transparent;
    padding: 0;
}

#zisContent .list-group .list-group-item .edit-zis-btn {
    right: 40px;
    color: var(--Text_Gray_40)
}

#projectModal .form-check,
#projectModalNew .form-check {
    padding-left: 30px;
    display: flex;
    align-items: center;
    height: 40px;
}

#projectModal .form-check-label,
#projectModalNew .form-check-label,
.form-check-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--Text_Gray_100);
}

#projectModal .form-check .form-check-input,
#projectModalNew .form-check .form-check-input,
.form-check .form-check-input {
    margin-top: 0;
    margin-left: -30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none !important;
}

#projectModal .form-check .form-check-input::after,
#projectModalNew .form-check .form-check-input::after,
.form-check .form-check-input::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid var(--Text_Gray_40);
    border-radius: 3px;
}

#projectModal .form-check .form-check-input::before,
#projectModalNew .form-check .form-check-input::before,
.form-check .form-check-input::before {
    content: 'L';
    color: var(--Primary_blue);
    font-size: 17px;
    font-weight: 600;
    width: 14px;
    height: 14px;
    display: block;
    background-color: transparent;
    position: absolute;
    top: -1px;
    transform: translateY(-50%);
    left: 3px;
    transform: rotate(45deg) scaleX(-1);
    opacity: 0;
}

#projectModal .form-check .form-check-input:checked::after,
#projectModalNew .form-check .form-check-input:checked::after,
.form-check .form-check-input:checked::after {
    border: 1px solid var(--Primary_blue);
}

#projectModal .form-check .form-check-input:checked::before,
#projectModalNew .form-check .form-check-input:checked::before,
.form-check .form-check-input:checked::before {
    opacity: 1;
}

#logsTable tbody tr td {
    border-right: 1px solid var(--Text_Gray_20);
    padding: 30px 10px;
}

#logsTable tbody tr td:first-child,
#logsTable tbody tr th:first-child {
    padding-left: 20px;
}

#logsTable tbody tr th:last-child {
    padding-right: 20px;
}

#logsTable tbody tr td:last-child {
    border-right: none;
    padding-right: 20px;
}

.logs-form-wrapper {
    display: flex;
    align-items: center;
}

.logs-form-input-wrapper {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.logs-form-wrapper .btn.btn-success {
    margin-left: 30px;
    display: none;
}

.logs-form-input-wrapper span {
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    margin: 0 10px;
}

#logsTimings {
    margin-right: 30px;
    display: block;
    width: 185px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--Text_Gray_40);
    padding: 10px;
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

h2.main-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 35.16px;
    color: var(--Text_Gray_100);
    margin-bottom: 20px;
}

p.main-info {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: var(--Text_Gray_100);
    margin-bottom: 60px;
}

.card {
    margin: 0px;
    padding: 20px 30px;
    border-radius: 0px;
    border: none;
    border-top: 1px solid var(--Text_Gray_20);
}

.card-body {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}

.card-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    margin: 0;
    display: flex;
    align-items: center;
}

.card-title span {
    width: 22px;
    height: 31px;
    margin-right: 16px;
}

.card-title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: var(--Text_Gray_100);
}

.card-text {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: var(--Text_Gray_100);
}

.fill-in-report {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    padding: 10px 20px;
    border-radius: 4px;
    background: var(--Primary_blue);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: var(--Text_Gray_10);
    text-decoration: none;
}

.fill-in-report:hover {
    text-decoration: none;
    color: var(--Text_Gray_10);
}

.fill-in-report span {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    display: block;
}

#addRowBtn {
    width: 100%;
    padding: 17px 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: var(--Text_Gray_40);
    background: var(--Text_Gray_10);
    height: 80px;
    border-radius: 0 0 10px 10px;
    border: none;
}

#addRowBtn span {
    font-size: 28px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 20px;
}

.back-to-main-page {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: var(--Text_Gray_100);
    text-decoration: none;
    padding-left: 36px;
    margin-bottom: 86px;
    display: inline-block;
}

.back-to-main-page:hover {
    color: var(--Text_Gray_100);
    text-decoration: none;
}

.back-to-main-page span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: .2s all;
}

.back-to-main-page:hover span {
    left: -10px;
    transition: .2s all;
}

h1.super-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 35.16px;
    margin-bottom: 50px;
    display: block;
}

.bottom-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.bottom-info button.btn {
    height: 46px;
    padding: 10px 20px;
    border-radius: 4px;
    background: var(--Primary_blue);
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    transition: .2s all;
    color: var(--Text_Gray_10);
}

.bottom-info button.btn:hover {
    color: var(--Text_Gray_10);
    background: var(--Hover-button-2);
    transition: .2s all;
}

.input-block {
    display: flex;
    align-items: center;
    padding: 20px 68px 20px 0;
    margin-top: 19px;
}

.input-block label {
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: var(--Text_Gray_100);
    display: block;
}

#total-counter {
    border: 1px solid var(--Text_Gray_40);
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--Text_Gray_100);
    border-radius: 5px;
    display: block;
}

.flex-block {
    display: flex;
    align-items: center;
}

.flex-block input {
    margin-right: 18px;
    height: 40px;
    color: var(--Text_Gray_100);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 11px 10px;
    border: 1px solid var(--Text_Gray_40);
}

.flex-block span {
    cursor: pointer;
}

.table-report-create tbody tr {
    border-bottom: 1px solid var(--Text_Gray_20);
}

.table-report-create thead tr th,
.table-report-create tbody tr td {
    padding: 20px 10px;
}

.table-report-create thead tr th:first-child,
.table-report-create tbody tr td:first-child {
    padding: 20px 10px 20px 30px;
}

.table-report-create thead tr th:last-child,
.table-report-create tbody tr td:last-child {
    padding: 20px 30px 20px 10px;
}

table#laborCostsSectionsTable thead tr th,
table#laborCostsProjectsTable thead tr th,
table#laborCostsSectionsTable tbody tr td,
table#laborCostsProjectsTable tbody tr td {
    padding: 20px 9px;
}

table#laborCostsSectionsTable thead tr th:first-child,
table#laborCostsProjectsTable thead tr th:first-child,
table#laborCostsSectionsTable tbody tr td:first-child,
table#laborCostsProjectsTable tbody tr td:first-child {
    padding-left: 20px;
}

table#laborCostsSectionsTable thead tr th:last-child,
table#laborCostsProjectsTable thead tr th:last-child,
table#laborCostsSectionsTable tbody tr td:last-child,
table#laborCostsProjectsTable tbody tr td:last-child {
    padding-right: 20px;
}

.table-striped#laborCostsSectionsTable tbody tr:nth-of-type(odd),
.table-striped#laborCostsProjectsTable tbody tr:nth-of-type(odd) {
    background-color: var(--Secondary);
}

table#usersTable thead {
    border-radius: 10px 10px 0 0;
}

/* CSS CALENDAR */

.datepicker {
    position: absolute;
    top: 100%;
    z-index: 11;
    background: var(--Text_Gray_10);
    padding: 10px;
    box-shadow: 0px 0px 8px 0px #00000026;
    width: auto;
    height: auto;
    left: -50%;
    top: 50px;
    padding: 5px 27px;
    border-radius: 10px;
}

.datepicker button {
    cursor: pointer;
    border: none;
    border-radius: 100%;
    background: transparent;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.3s;
    touch-action: manipulation;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 32px;
    padding: 0;
    color: var(--Text_Gray_100);
}

.days,
.dates {
    display: grid;
    grid-template-columns: repeat(7, 32px);
    gap: 10px;
    margin-block: 10px;
}

.days span {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: var(--Text_Gray_40);
}

.dates button {
  color: var(--Text_Gray_100);
  aspect-ratio: 1;
}

.dates button:disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.dates button:hover {
  background: var(--Text_Gray_20);
}

.dates button.today {
  background: var(--Secondary);
  color: var(--Text_Gray_100);
}

.dates button.selected {
  background: var(--Primary_blue);
  color: var(--Text_Gray_10);
}

.datepicker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.month-input,
.year-input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    color: var(--Text_Gray_100);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.month-input:focus-visible,
.year-input:focus-visible {
    outline: none;
}

.datepicker-header input {
  max-width: 64px;
}

/*  */

.select {
    margin-right: 30px;
    display: block;
    width: 185px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--Text_Gray_40);
    padding: 10px;
    outline: 0px solid var(--Primary_blue);
    cursor: pointer;
}

.select[data-cid=simple-select] {
    margin-right: 0;
}

.select.is-active {
    outline: 1px solid var(--Primary_blue);
    border: 1px solid var(--Primary_blue);
}

.select.is-active .select__body {
	display: block;
}

.select__current {
    background: url('https://s3.timeweb.com/7777fb51-34f4640c-d71e-4ace-b57e-e7997a1f4952/Vector.svg') no-repeat right;
    background-position-x: right;
	font-size: 18px;
	line-height: 24px;
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.select__body {
	border-top: 0;
	display: none;
	left: 0;
	position: absolute;
	top: 48px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 0px #00000026;
    z-index: 5;
    background-color: var(--Text_Gray_10);
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px 0;
    scrollbar-width: 5px;
    scrollbar-color: var(--Text_Gray_40);
}

.select__body.over {
    width: calc(100% + 100px);
    left: -35%;
}

.select__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: var(--Text_Gray_100);
    background-color: transparent;
    transition: .15s all;
    height: 38px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select__item:hover {
	background-color: var(--Secondary);
    transition: .15s all;
}

form.export-exel-form {
    display: none;
}

form.export-exel-form.active {
    display: block;
}

.rotated {
    width: 20px !important;
    height: 100px;
}

.rotated p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.succes_modal {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    z-index: -3;
    opacity: 0;
    transition: .3s all ease-in;
    background-color: var(--Text_Gray_10);
    border-bottom: 10px;
    box-shadow: 20px 20px 30px 20px rgba(0, 0, 0, 0.05);
}

.succes_modal p {
    font-size: 30px;
    font-weight: 400;
    line-height: 35.16px;
    text-align: center;
    color: var(--Text_Gray_100);
}

.succes_modal.active {
    z-index: 12;
    opacity: 1;
    top: 30%;
    transition: .3s all ease-in;
}

p.admin_info {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: var(--Text_Gray_100);
    margin-bottom: 20px;
}

p.admin_info a {
    text-decoration: none !important;
    color: var(--Primary_blue);
    transition: .2s all;
}

p.admin_info a:hover {
    color: var(--Hover-button-2);
    transition: .2s all;
}

#modalZisToAddProj {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: auto;
    background-color: var(--Text_Gray_10);
    box-shadow: 20px 20px 30px 20px rgba(0, 0, 0, 0.05);
    opacity: 0;
    z-index: -1;
    transition: .3s all ease-in-out;
    border-radius: 10px;
    padding: 40px;
}


#modalZisToAddProj.active {
    opacity: 1;
    z-index: 15;
    top: 30%;
}

#modalZisToAddProj label {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin-bottom: 10px;
    color: var(--Text_Gray_100);

}

.add-project-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 35.16px;
    text-align: center;
    color: var(--Text_Gray_100);
    margin-bottom: 25px;
}

#buildingTitleInput {
    margin-bottom: 25px;
}

#addBuildingBtn {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.fiter-modal-search {
    width: 205px;
    height: auto;
    max-height: 450px;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    background-color: var(--Text_Gray_10);
    box-shadow: 0px 0px 8px 0px #00000026;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    z-index: -10;
    transition: .2s all ease-in-out;
}

.fiter-modal-search.active {
    z-index: 20;
    opacity: 1;
    top: 38px;
    transition: .2s all ease-in-out;
}

.fiter-modal-search .search-block {
    display: block;   
}
.fiter-modal-search .search-block #search {
    padding-left: 38px;
    width: 100%;
}


.fiter-modal-search .search-block span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
}

.fiter-modal-search .search-list,
.fiter-modal-search .finde-items {
    margin: 0;
    padding: 0;
}


.fiter-modal-search .search-list,
.fiter-modal-search .finde-items {
    display: none;
    overflow-y: auto;
    max-height: 200px;
    height: auto;
}

.fiter-modal-search .search-list.active,
.fiter-modal-search .finde-items.active {
    display: block;
}

.fiter-modal-search .search-list li,
.fiter-modal-search .finde-items li {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: var(--Text_Gray_100);
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    transition: .2s all ease;
    display: flex;
}

.fiter-modal-search .search-list {
    margin-top: 10px;
}

.fiter-modal-search .search-list li {
    width: 77%;
}

.fiter-modal-search .search-list li:hover {
    cursor: pointer;
    background-color: var(--Secondary);
    transition: .2s all ease;
}

.fiter-modal-search .search-list li.active {
    background-color: var(--Secondary);
}

.fiter-modal-search .search-list span {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    width: auto;
    height: auto;
    margin: 10px 0;
    padding: 0;
    cursor: pointer;
    color: var(--Text_Gray_40);
    transition: .2s all;
    display: block;
    padding: 0 10px;
    text-align: left;
}

.fiter-modal-search .search-list span:hover {
    transition: .2s all;
    color: var(--Text_Gray_100);
}

.fiter-modal-search .finde-items li.placeholder {
    display: block;
    text-align: center;
    color: var(--Text_Gray_40);
    font-size: 16px;
    line-height: 18px;
}

.fiter-modal-search .finde-items li span {
    font-size: 20px;
    transform: rotate(45deg);
    cursor: pointer;
    color: var(--Text_Gray_100);
    opacity: 0.5;
    transition: .2s all;
}

.fiter-modal-search .finde-items li span:hover {
    opacity: 1;
    transition: .2s all;
}

.table-wrapper.only-bottom.scroller .table button.sorter[data-cid=project] .fiter-modal-search{
    left: 86px;
}

.hidden-block {
    width: 30%;
}

button.apply-filters {
    display: block;
    align-items: center;
    min-height: 0px;
    height: auto;
    transition: .2s all ease-in-out;
    text-decoration: none;
    width: 100%;
    margin-top: 10px;
}

button.reset-filters {
    display: block;
    align-items: center;
    min-height: 0px;
    height: auto;
    transition: .2s all ease-in-out;
    text-decoration: none;
    width: 100%;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid var(--Primary_blue);
    color: var(--Primary_blue);
}

button.reset-filters

button.apply-filters:disabled {
    cursor: no-drop;
    opacity: .5;
}

#reportsNew,
#reportsEdit {
    background-color: var(--Text_Gray_10);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--Text_Gray_20);
    border-radius: 10px;
    overflow: hidden;
}

#reportsNew .reports-list,
#reportsEdit .reports-list {
    display: block;
    max-height: 0;
    transition: max-height .5s ease;
}


#reportsNew .reports-list.active,
#reportsEdit .reports-list.active {
    max-height: 20000px;
    transition: max-height .5s ease;
}

#reportsEdit {
    margin-top: 20px;
}

#reportsNew .reports-list-header,
#reportsEdit .reports-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 30px;
    background-color: var(--Text_Gray_10);
}

#reportsNew .reports-list-header h3,
#reportsEdit .reports-list-header h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: var(--Text_Gray_100);
    margin: 0;
    padding: 0;
}

#reportsNew .reports-list-header span,
#reportsEdit .reports-list-header span {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(0deg);
    transition: .5s all;
}

#reportsNew .reports-list-header span.active,
#reportsEdit .reports-list-header span.active {
    transform: rotate(180deg);
    transition: .5s all;
}

.all-cards {
    display: none;
}

#currentDay .card {
    width: 100%;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid var(--Text_Gray_20);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.custom-table {

}

.custom-table-header {
    display: flex;
    border: none;
    background: var(--Secondary);
    border-radius: 10px 10px 0 0;
}

.custom-table-header .header-item {
    padding: 21px 9px;
}

.custom-table-header .header-item:first-child {
    padding: 21px 9px 21px 30px;
}
.custom-table-header .header-item:last-child {
    padding: 21px 30px 21px 9px;
}

.custom-table-header .header-item p {
    color: var(--Text_Gray_100);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.custom-table-body {
    background-color: var(--Text_Gray_10);
}

.custom-table-body .body-item {
    display: flex;
    width: 100%;
}

.custom-table-body .body-item .row-item {
    padding: 21px 9px;
    border-bottom: 1px solid var(--Text_Gray_20);
}

.custom-table-body .body-item .row-item:first-child {
    padding: 21px 9px 21px 30px;
}
.custom-table-body .body-item .row-item:last-child {
    padding: 21px 30px 21px 9px;
}

.custom-table-body .body-item .row-item .select-list {
    height: 0px;
    opacity: 0;
    z-index: 0;
    transition: .3s all;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    left: 10px;
    top: 62px;
    margin-bottom: 0;
    background-color: var(--Text_Gray_10);
    width: 200px;
    list-style: none;
    border: 1px solid var(--Text_Gray_40);
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.custom-table-body .body-item .row-item .select-list.active {
    max-height: 300px;
    height: auto;
    opacity: 1;
    z-index: 10;
    transition: .3s all;
}

.custom-table-body .body-item .row-item .select-list .select-list-item {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: var(--Text_Gray_100);
    background-color: transparent;
    cursor: pointer;
    transition: .2s all;
}

.custom-table-body .body-item .row-item .select-list .select-list-item:hover {
    background-color: var(--Secondary);
}

#scrollToTop {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 25px;
    right: -100px;
    border-radius: 100%;
    border: 2px solid var(--Text_Gray_40);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--Text_Gray_20);
    transition: .2s all ease-in;
}

#scrollToTop.active {
    right: 40px;
    transition: .2s all ease-in;
}

#scrollToTop svg {
    transform: rotate(90deg);
}